requests~=2.23.0
PyYAML~=5.3.1
xlsxwriter~=3.0.6
openpyxl~=3.0.10
bs4~=0.0.1
beautifulsoup4~=4.11.1
pyOpenSSL~=23.2.0

# Commented out currently in "Tools/Entities/dump_dynatrace_entity_relationships.py":
# urllib3~=1.25.11



