{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Dynatrace Environment API",
    "description" : "Documentation of the Dynatrace Environment API v1. To read about use cases and examples, see [Dynatrace Documentation](https://dt-url.net/xc03k3c).\n\nNotes about compatibility:\n* Operations marked as early adopter or preview may be changed in non-compatible ways, although we try to avoid this.\n* We may add new enum constants without incrementing the API version; thus, clients need to handle unknown enum constants gracefully.",
    "version" : "1.0"
  },
  "servers" : [ {
    "url" : "https://xxxxxxxx.live.dynatrace.com/api/v1",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "Cluster version",
    "description" : "View the version of the Dynatrace server"
  }, {
    "name" : "Anonymization",
    "description" : "Remove sensitive user data from your sessions"
  }, {
    "name" : "RUM - User sessions",
    "description" : "Obtain user sessions data"
  }, {
    "name" : "Synthetic - Monitors",
    "description" : "Manage synthetic monitors"
  }, {
    "name" : "Synthetic - Locations, nodes, and configuration",
    "description" : "Manage synthetic locations and nodes"
  }, {
    "name" : "Synthetic - Third party",
    "description" : "Push third-party synthetic data to Dynatrace"
  }, {
    "name" : "Maintenance window",
    "description" : "Deprecated. Use the [Settings endpoint](index.jsp?urls.primaryName=Environment%20API%20v2#/Settings%20-%20Objects) with schemaId `builtin:alerting.maintenance-window`."
  }, {
    "name" : "Topology & Smartscape - Application",
    "description" : "Manage applications"
  }, {
    "name" : "Topology & Smartscape - Custom device",
    "description" : "Create a custom device and push data to it"
  }, {
    "name" : "Topology & Smartscape - Host",
    "description" : "Manage hosts"
  }, {
    "name" : "Topology & Smartscape - Process",
    "description" : "Manage processes"
  }, {
    "name" : "Topology & Smartscape - Process group",
    "description" : "Manage process groups"
  }, {
    "name" : "Topology & Smartscape - Service",
    "description" : "Manage services"
  }, {
    "name" : "Problem",
    "description" : "Deprecated. Use [Problems API v2](index.jsp?urls.primaryName=Environment%20API%20v2#/Problems) instead."
  }, {
    "name" : "Threshold",
    "description" : "Deprecated. Use the new endpoint in [Configuration API](index.jsp?urls.primaryName=Configuration%20API#/Anomaly%20detection%20-%20Metric%20events)."
  }, {
    "name" : "Timeseries",
    "description" : "Manage metrics"
  }, {
    "name" : "Cluster time",
    "description" : "View the time of the Dynatrace server"
  }, {
    "name" : "Log monitoring - Hosts",
    "description" : "Manage the analysis of operating system logs"
  }, {
    "name" : "Log monitoring - Process groups",
    "description" : "Manage the analysis of process group logs"
  }, {
    "name" : "Events",
    "description" : "Deprecated. Use [Events API v2](index.jsp?urls.primaryName=Environment%20API%20v2#/Events) instead."
  }, {
    "name" : "Deployment",
    "description" : "Download OneAgent and ActiveGate installers"
  }, {
    "name" : "OneAgent on a host",
    "description" : "View OneAgent deployment information per host"
  }, {
    "name" : "Tokens",
    "description" : "Deprecated. Use the new endpoint in [Environment API v2](index.jsp?urls.primaryName=Environment%20API%20v2#/Access%20Tokens%20-%20API%20tokens)."
  }, {
    "name" : "Log monitoring - Custom devices",
    "description" : "Manage the analysis of custom device logs"
  }, {
    "name" : "RUM - JavaScript tag management",
    "description" : "Download the RUM JavaScript tag"
  } ],
  "paths" : {
    "/config/clusterversion" : {
      "get" : {
        "tags" : [ "Cluster version" ],
        "summary" : "Gets the current version of the Dynatrace server",
        "operationId" : "getVersion",
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ClusterVersion"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`DataExport` (Access problem and event feed, metrics, and topology)" ]
      }
    },
    "/deployment/installer/agent/{osType}/{installerType}/version/{version}" : {
      "get" : {
        "tags" : [ "Deployment" ],
        "summary" : "Downloads OneAgent installer of the specified version",
        "description" : "For the `paas` or `paas-sh` installer types you can get a configuring installer, by passing additional parameters.",
        "operationId" : "downloadAgentInstallerWithVersion",
        "parameters" : [ {
          "name" : "If-None-Match",
          "in" : "header",
          "description" : "The ETag of the previous request. Do not download if it matches the ETag of the installer.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "osType",
          "in" : "path",
          "description" : "The operating system of the installer.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "windows", "unix", "aix", "solaris", "zos" ]
          }
        }, {
          "name" : "installerType",
          "in" : "path",
          "description" : "The type of the installer: \n\n* `default`: Self-extracting installer for manual installation. Downloads an `.exe` file for Windows or an `.sh` file for Unix. \n* `default-unattended`: Self-extracting installer for unattended installation. Windows only. Downloads a `.zip` archive, containing the `.msi` installer and the batch file. This option is deprecated with OneAgent version 1.173 \n* `paas`: Code modules installer. Downloads a `*.zip` archive, containing the `manifest.json` file with meta information or a `.jar` file for z/OS. \n* `paas-sh`: Code modules installer. Downloads a self-extracting shell script with the embedded `tar.gz` archive.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "default", "default-unattended", "paas", "paas-sh" ]
          }
        }, {
          "name" : "version",
          "in" : "path",
          "description" : "The required version of the OneAgent in `1.155.275.20181112-084458` format. \n\nYou can retrieve the list of available versions with the [**GET available versions of OneAgent**](https://dt-url.net/fo23rb5) call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "flavor",
          "in" : "query",
          "description" : "The flavor of your Linux distribution: \n\n* `musl` for Linux distributions, which are using the musl C standard library, for example Alpine Linux. \n* 'multidistro` for all Linux distributions which are using musl C and glibc standard library. \n\nOnly applicable to the `paas` and `paas-sh` installer types.",
          "schema" : {
            "type" : "string",
            "enum" : [ "default", "multidistro", "musl" ],
            "default" : "default"
          }
        }, {
          "name" : "arch",
          "in" : "query",
          "description" : "The architecture of your OS: \n\n* `all`: Use this value for AIX and z/OS. Defaults to `x86` for other OS types. \n* `x86`: x86 architecture.\n* `ppc`: PowerPC architecture, only supported for AIX and Linux.\n* `ppcle`: PowerPC Little Endian architecture, only supported for Linux.\n* `sparc`: Sparc architecture, only supported for Solaris. \n\n* `arm`: ARM architecture, only supported for Linux. \n\n* `s390`: S/390 architecture, only supported for Linux. \n\nOnly applicable to the `paas` and `paas-sh` installer types.",
          "schema" : {
            "type" : "string",
            "enum" : [ "all", "arm", "ppc", "ppcle", "s390", "sparc", "x86" ],
            "default" : "all"
          }
        }, {
          "name" : "bitness",
          "in" : "query",
          "description" : "The bitness of your OS. Must be supported by the OS. \n\n Only applicable to the `paas` and `paas-sh` installer types.",
          "schema" : {
            "type" : "string",
            "enum" : [ "32", "64", "all" ],
            "default" : "all"
          }
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "The code modules to be included to the installer. You can specify several modules in the following format: `include=java&include=dotnet`. \n\nOnly applicable to the `paas` and `paas-sh` installer types.",
          "schema" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "all", "java", "apache", "nginx", "nodejs", "dotnet", "php", "go", "sdk" ],
              "default" : "All"
            }
          }
        }, {
          "name" : "skipMetadata",
          "in" : "query",
          "description" : "Set `true` to omit the OneAgent connectivity information from the installer. \n\n Only applicable to the `paas` and `paas-sh` installer types.",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "networkZone",
          "in" : "query",
          "description" : "The network zone you want the result to be configured with.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success. The payload contains the installer file."
          },
          "304" : {
            "description" : "Not modified. You already have the latest version of the installer. The response does not contain a payload."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`InstallerDownload` (PaaS integration - Installer download)" ]
      }
    },
    "/deployment/orchestration/agent/{orchestrationType}/version/{version}/signature" : {
      "get" : {
        "tags" : [ "Deployment" ],
        "summary" : "Downloads the requested version matching OneAgent deployment orchestration tarball's signature",
        "description" : "Downloading the requested version matching deployment orchestration tarball's signature matching the requested Orchestration Type (ansible, puppet).",
        "operationId" : "downloadAgentOrchestrationSignatureWithVersion",
        "parameters" : [ {
          "name" : "orchestrationType",
          "in" : "path",
          "description" : "The Orchestration Type of the orchestration deployment script.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "ansible", "puppet" ]
          }
        }, {
          "name" : "version",
          "in" : "path",
          "description" : "The requested version of the OneAgent deployment orchestration tarball in `0.1.0.20200925-120822` format.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success. The payload contains the installer file."
          },
          "304" : {
            "description" : "Not modified. You already have the latest version of the installer. The response does not contain a payload."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`InstallerDownload` (PaaS integration - Installer download)" ]
      }
    },
    "/deployment/orchestration/agent/{orchestrationType}/version/{version}" : {
      "get" : {
        "tags" : [ "Deployment" ],
        "summary" : "Downloads the requested version matching OneAgent deployment orchestration tarball",
        "description" : "Downloading the requested version matching deployment orchestration tarball matching the requested Orchestration Type (ansible, puppet).",
        "operationId" : "downloadAgentOrchestrationWithVersion",
        "parameters" : [ {
          "name" : "orchestrationType",
          "in" : "path",
          "description" : "The Orchestration Type of the orchestration deployment script.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "ansible", "puppet" ]
          }
        }, {
          "name" : "version",
          "in" : "path",
          "description" : "The requested version of the OneAgent orchestration deployment tarball in `0.1.0.20200925-120822` format.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success. The payload contains the installer file."
          },
          "304" : {
            "description" : "Not modified. You already have the latest version of the installer. The response does not contain a payload."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`InstallerDownload` (PaaS integration - Installer download)" ]
      }
    },
    "/deployment/boshrelease/agent/{osType}/version/{version}" : {
      "get" : {
        "tags" : [ "Deployment" ],
        "summary" : "Downloads BOSH release tarballs of the specified version, OneAgent included",
        "description" : "For SaaS, the call is executed on an Environment ActiveGate. Be sure to use the base of an ActiveGate, **not** the environment.",
        "operationId" : "downloadBoshReleaseWithVersion",
        "parameters" : [ {
          "name" : "osType",
          "in" : "path",
          "description" : "The operating system of the installer.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "windows", "unix" ]
          }
        }, {
          "name" : "version",
          "in" : "path",
          "description" : "The required version of the OneAgent in the `1.155.275.20181112-084458` format. \n\nYou can retrieve the list of available versions with the [**GET available versions of BOSH tarballs**](https://dt-url.net/j703kdn) call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "skipMetadata",
          "in" : "query",
          "description" : "Set `true` to omit the OneAgent connectivity information from the installer. \n\n If not set, `false` is used.",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "networkZone",
          "in" : "query",
          "description" : "The network zone you want the result to be configured with.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success. The payload contains the BOSH release tarball file."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`InstallerDownload` (PaaS integration - Installer download)" ]
      }
    },
    "/deployment/installer/gateway/{osType}/version/{version}" : {
      "get" : {
        "tags" : [ "Deployment" ],
        "summary" : "Downloads the ActiveGate installer of the specified version",
        "operationId" : "downloadGatewayInstallerWithVersion",
        "parameters" : [ {
          "name" : "If-None-Match",
          "in" : "header",
          "description" : "The ETag of the previous request. Do not download if it matches the ETag of the installer.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "osType",
          "in" : "path",
          "description" : "The operating system of the installer.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "windows", "unix" ]
          }
        }, {
          "name" : "version",
          "in" : "path",
          "description" : "The required version of the ActiveGate installer, in `1.155.275.20181112-084458` format. \n\nYou can retrieve the list of available versions with the [**GET available versions of ActiveGate**](https://dt-url.net/kh43rha) call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "arch",
          "in" : "query",
          "description" : "The architecture of your OS: \n\n* `all`: Defaults to `amd64`. \n* `amd64`: amd64 architecture.\n* `s390`: S/390 architecture, only supported for Linux. \n\n",
          "schema" : {
            "type" : "string",
            "enum" : [ "all", "amd64", "s390" ],
            "default" : "all"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success. The payload contains the installer file."
          },
          "304" : {
            "description" : "Not modified. You already have the latest version of the installer. The response does not contain a payload."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`InstallerDownload` (PaaS integration - Installer download)" ]
      }
    },
    "/deployment/installer/agent/{osType}/{installerType}/latest" : {
      "get" : {
        "tags" : [ "Deployment" ],
        "summary" : "Downloads the latest OneAgent installer",
        "description" : "For the `paas` or `paas-sh` installer types you can get a configuring installer, by passing additional parameters.",
        "operationId" : "downloadLatestAgentInstaller",
        "parameters" : [ {
          "name" : "If-None-Match",
          "in" : "header",
          "description" : "The ETag of the previous request. Do not download if it matches the ETag of the installer.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "osType",
          "in" : "path",
          "description" : "The operating system of the installer.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "windows", "unix", "aix", "solaris", "zos" ]
          }
        }, {
          "name" : "installerType",
          "in" : "path",
          "description" : "The type of the installer: \n\n* `default`: Self-extracting installer for manual installation. Downloads an `.exe` file for Windows or an `.sh` file for Unix. \n* `default-unattended`: Self-extracting installer for unattended installation. Windows only. Downloads a `.zip` archive, containing the `.msi` installer and the batch file. This option is deprecated with OneAgent version 1.173 \n* `paas`: Code modules installer. Downloads a `*.zip` archive, containing the `manifest.json` file with meta information or a `.jar` file for z/OS. \n* `paas-sh`: Code modules installer. Downloads a self-extracting shell script with the embedded `tar.gz` archive.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "default", "default-unattended", "paas", "paas-sh" ]
          }
        }, {
          "name" : "flavor",
          "in" : "query",
          "description" : "The flavor of your Linux distribution: \n\n* `musl` for Linux distributions, which are using the musl C standard library, for example Alpine Linux. \n* 'multidistro` for all Linux distributions which are using musl C and glibc standard library. \n\nOnly applicable to the `paas` and `paas-sh` installer types.",
          "schema" : {
            "type" : "string",
            "enum" : [ "default", "multidistro", "musl" ],
            "default" : "default"
          }
        }, {
          "name" : "arch",
          "in" : "query",
          "description" : "The architecture of your OS: \n\n* `all`: Use this value for AIX and z/OS. Defaults to `x86` for other OS types. \n* `x86`: x86 architecture.\n* `ppc`: PowerPC architecture, only supported for AIX and Linux.\n* `ppcle`: PowerPC Little Endian architecture, only supported for Linux.\n* `sparc`: Sparc architecture, only supported for Solaris. \n\n* `arm`: ARM architecture, only supported for Linux. \n\n* `s390`: S/390 architecture, only supported for Linux. \n\nOnly applicable to the `paas` and `paas-sh` installer types.",
          "schema" : {
            "type" : "string",
            "enum" : [ "all", "arm", "ppc", "ppcle", "s390", "sparc", "x86" ],
            "default" : "all"
          }
        }, {
          "name" : "bitness",
          "in" : "query",
          "description" : "The bitness of your OS. Must be supported by the OS. \n\n Only applicable to the `paas` and `paas-sh` installer types.",
          "schema" : {
            "type" : "string",
            "enum" : [ "32", "64", "all" ],
            "default" : "all"
          }
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "The code modules to be included to the installer. You can specify several modules in the following format: `include=java&include=dotnet`. \n\nOnly applicable to the `paas` and `paas-sh` installer types.",
          "schema" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "all", "java", "apache", "nginx", "nodejs", "dotnet", "php", "go", "sdk" ],
              "default" : "All"
            }
          }
        }, {
          "name" : "skipMetadata",
          "in" : "query",
          "description" : "Set `true` to omit the OneAgent connectivity information from the installer. \n\n Only applicable to the `paas` and `paas-sh` installer types.",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "networkZone",
          "in" : "query",
          "description" : "The network zone you want the result to be configured with.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success. The payload contains the installer file."
          },
          "304" : {
            "description" : "Not modified. You already have the latest version of the installer. The response does not contain a payload."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`InstallerDownload` (PaaS integration - Installer download)" ]
      }
    },
    "/deployment/orchestration/agent/{orchestrationType}/latest" : {
      "get" : {
        "tags" : [ "Deployment" ],
        "summary" : "Downloads the latest OneAgent deployment orchestration tarball",
        "description" : "Downloading the latest available deployment orchestration script tarball matching the requested Orchestration Type (ansible, puppet).",
        "operationId" : "downloadLatestAgentOrchestration",
        "parameters" : [ {
          "name" : "orchestrationType",
          "in" : "path",
          "description" : "The Orchestration Type of the orchestration deployment script.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "ansible", "puppet" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success. The payload contains the installer file."
          },
          "304" : {
            "description" : "Not modified. You already have the latest version of the installer. The response does not contain a payload."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`InstallerDownload` (PaaS integration - Installer download)" ]
      }
    },
    "/deployment/orchestration/agent/{orchestrationType}/latest/signature" : {
      "get" : {
        "tags" : [ "Deployment" ],
        "summary" : "Downloads the latest OneAgent deployment orchestration tarball's signature",
        "description" : "Downloading the latest available deployment orchestration tarball's sigature matching the requested Orchestration Type (ansible, puppet).",
        "operationId" : "downloadLatestAgentOrchestrationSignature",
        "parameters" : [ {
          "name" : "orchestrationType",
          "in" : "path",
          "description" : "The Orchestration Type of the orchestration deployment script.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "ansible", "puppet" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success. The payload contains the installer file."
          },
          "304" : {
            "description" : "Not modified. You already have the latest version of the installer. The response does not contain a payload."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`InstallerDownload` (PaaS integration - Installer download)" ]
      }
    },
    "/deployment/installer/gateway/{osType}/latest" : {
      "get" : {
        "tags" : [ "Deployment" ],
        "summary" : "Downloads the configured standard ActiveGate installer of the latest version for the specified OS",
        "operationId" : "downloadLatestGatewayInstaller",
        "parameters" : [ {
          "name" : "If-None-Match",
          "in" : "header",
          "description" : "The ETag of the previous request. Do not download if it matches the ETag of the installer.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "osType",
          "in" : "path",
          "description" : "The operating system of the installer.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "windows", "unix" ]
          }
        }, {
          "name" : "arch",
          "in" : "query",
          "description" : "The architecture of your OS: \n\n* `all`: Defaults to `amd64`. \n* `amd64`: amd64 architecture.\n* `s390`: S/390 architecture, only supported for Linux. \n\n",
          "schema" : {
            "type" : "string",
            "enum" : [ "all", "amd64", "s390" ],
            "default" : "all"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success. The payload contains the installer file."
          },
          "304" : {
            "description" : "Not modified. You already have the latest version of the installer. The response does not contain a payload."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`InstallerDownload` (PaaS integration - Installer download)" ]
      }
    },
    "/deployment/installer/gateway/versions/{osType}" : {
      "get" : {
        "tags" : [ "Deployment" ],
        "summary" : "Lists all available versions of ActiveGate installer",
        "operationId" : "getActiveGateInstallerAvailableVersions",
        "parameters" : [ {
          "name" : "osType",
          "in" : "path",
          "description" : "The operating system of the installer.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "windows", "unix" ]
          }
        }, {
          "name" : "arch",
          "in" : "query",
          "description" : "The architecture of your OS: \n\n* `all`: Defaults to `amd64`. \n* `amd64`: amd64 architecture.\n* `s390`: S/390 architecture, only supported for Linux. \n\n",
          "schema" : {
            "type" : "string",
            "enum" : [ "all", "amd64", "s390" ],
            "default" : "all"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success. The payload contains the available versions.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ActiveGateInstallerVersions"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found. See the response body for details."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`InstallerDownload` (PaaS integration - Installer download)" ]
      }
    },
    "/deployment/installer/gateway/connectioninfo" : {
      "get" : {
        "tags" : [ "Deployment" ],
        "summary" : "Gets the connectivity information for Environment ActiveGate",
        "operationId" : "getActiveGateInstallerConnectionInfo",
        "parameters" : [ {
          "name" : "networkZone",
          "in" : "query",
          "description" : "The network zone you want the result to be configured with.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ActiveGateConnectionInfo"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`InstallerDownload` (PaaS integration - Installer download)" ]
      }
    },
    "/deployment/installer/agent/versions/{osType}/{installerType}" : {
      "get" : {
        "tags" : [ "Deployment" ],
        "summary" : "Lists all available versions of OneAgent installer",
        "operationId" : "getAgentInstallerAvailableVersions",
        "parameters" : [ {
          "name" : "osType",
          "in" : "path",
          "description" : "The operating system of the installer.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "windows", "unix", "aix", "solaris", "zos" ]
          }
        }, {
          "name" : "installerType",
          "in" : "path",
          "description" : "The type of the installer: \n\n* `default`: Self-extracting installer for manual installation. Downloads an `.exe` file for Windows or an `.sh` file for Unix. \n* `default-unattended`: Self-extracting installer for unattended installation. Windows only. Downloads a `.zip` archive, containing the `.msi` installer and the batch file. This option is deprecated with OneAgent version 1.173 \n* `paas`: Code modules installer. Downloads a `*.zip` archive, containing the `manifest.json` file with meta information or a `.jar` file for z/OS. \n* `paas-sh`: Code modules installer. Downloads a self-extracting shell script with the embedded `tar.gz` archive.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "default", "default-unattended", "paas", "paas-sh" ]
          }
        }, {
          "name" : "flavor",
          "in" : "query",
          "description" : "The flavor of your Linux distribution: \n\n* `musl` for Linux distributions, which are using the musl C standard library, for example Alpine Linux. \n* 'multidistro` for all Linux distributions which are using musl C and glibc standard library. \n\nOnly applicable to the `paas` and `paas-sh` installer types.",
          "schema" : {
            "type" : "string",
            "enum" : [ "default", "multidistro", "musl" ],
            "default" : "default"
          }
        }, {
          "name" : "arch",
          "in" : "query",
          "description" : "The architecture of your OS: \n\n* `all`: Use this value for AIX and z/OS. Defaults to `x86` for other OS types. \n* `x86`: x86 architecture.\n* `ppc`: PowerPC architecture, only supported for AIX and Linux.\n* `ppcle`: PowerPC Little Endian architecture, only supported for Linux.\n* `sparc`: Sparc architecture, only supported for Solaris. \n\n* `arm`: ARM architecture, only supported for Linux. \n\n* `s390`: S/390 architecture, only supported for Linux. \n\nOnly applicable to the `paas` and `paas-sh` installer types.",
          "schema" : {
            "type" : "string",
            "enum" : [ "all", "arm", "ppc", "ppcle", "s390", "sparc", "x86" ],
            "default" : "all"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success. The payload contains the available versions.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AgentInstallerVersions"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`InstallerDownload` (PaaS integration - Installer download)" ]
      }
    },
    "/deployment/installer/agent/connectioninfo" : {
      "get" : {
        "tags" : [ "Deployment" ],
        "summary" : "Gets the connectivity information for OneAgent",
        "operationId" : "getAgentInstallerConnectionInfo",
        "parameters" : [ {
          "name" : "networkZone",
          "in" : "query",
          "description" : "The network zone you want the result to be configured with.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "version",
          "in" : "query",
          "description" : "The version of the OneAgent for which you're requesting connectivity information, in the `1.221` format. \n\nSet this parameter to get the best format of endpoint list for optimal performance.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConnectionInfo"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`InstallerDownload` (PaaS integration - Installer download)" ]
      }
    },
    "/deployment/installer/agent/connectioninfo/endpoints" : {
      "get" : {
        "tags" : [ "Deployment" ],
        "summary" : "Gets the list of the ActiveGate-Endpoints to be used for Agents ordered by networkzone-priorities.",
        "description" : "Highest priority first, separated by a semicolon.If no network zone provided the default zone is used. Responds with 404 if network zone is not known.",
        "operationId" : "getAgentInstallerConnectionInfoEndpoints",
        "parameters" : [ {
          "name" : "networkZone",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success"
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`InstallerDownload` (PaaS integration - Installer download)" ]
      }
    },
    "/deployment/installer/agent/{osType}/{installerType}/latest/metainfo" : {
      "get" : {
        "tags" : [ "Deployment" ],
        "summary" : "Gets the latest available version of a OneAgent installer",
        "description" : "If a [standard version](https://dt-url.net/ml03yye) is configured, then this is the downloaded version. \n\nNon-required parameters are only applicable to the `paas` and `paas-sh` installer types.",
        "operationId" : "getAgentInstallerMetaInfo",
        "parameters" : [ {
          "name" : "osType",
          "in" : "path",
          "description" : "The operating system of the installer.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "windows", "unix", "aix", "solaris", "zos" ]
          }
        }, {
          "name" : "installerType",
          "in" : "path",
          "description" : "The type of the installer: \n\n* `default`: Self-extracting installer for manual installation. Downloads an `.exe` file for Windows or an `.sh` file for Unix. \n* `default-unattended`: Self-extracting installer for unattended installation. Windows only. Downloads a `.zip` archive, containing the `.msi` installer and the batch file. This option is deprecated with OneAgent version 1.173 \n* `paas`: Code modules installer. Downloads a `*.zip` archive, containing the `manifest.json` file with meta information or a `.jar` file for z/OS. \n* `paas-sh`: Code modules installer. Downloads a self-extracting shell script with the embedded `tar.gz` archive.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "default", "default-unattended", "paas", "paas-sh" ]
          }
        }, {
          "name" : "flavor",
          "in" : "query",
          "description" : "The flavor of your Linux distribution: \n\n* `musl` for Linux distributions, which are using the musl C standard library, for example Alpine Linux. \n* 'multidistro` for all Linux distributions which are using musl C and glibc standard library. \n\nOnly applicable to the `paas` and `paas-sh` installer types.",
          "schema" : {
            "type" : "string",
            "enum" : [ "default", "multidistro", "musl" ],
            "default" : "default"
          }
        }, {
          "name" : "arch",
          "in" : "query",
          "description" : "The architecture of your OS: \n\n* `all`: Use this value for AIX and z/OS. Defaults to `x86` for other OS types. \n* `x86`: x86 architecture.\n* `ppc`: PowerPC architecture, only supported for AIX and Linux.\n* `ppcle`: PowerPC Little Endian architecture, only supported for Linux.\n* `sparc`: Sparc architecture, only supported for Solaris. \n\n* `arm`: ARM architecture, only supported for Linux. \n\n* `s390`: S/390 architecture, only supported for Linux. \n\nOnly applicable to the `paas` and `paas-sh` installer types.",
          "schema" : {
            "type" : "string",
            "enum" : [ "all", "arm", "ppc", "ppcle", "s390", "sparc", "x86" ],
            "default" : "all"
          }
        }, {
          "name" : "bitness",
          "in" : "query",
          "description" : "The bitness of your OS. Must be supported by the OS. \n\n Only applicable to the `paas` and `paas-sh` installer types.",
          "schema" : {
            "type" : "string",
            "enum" : [ "32", "64", "all" ],
            "default" : "all"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InstallerMetaInfoDto"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`InstallerDownload` (PaaS integration - Installer download)" ]
      }
    },
    "/deployment/installer/agent/{osType}/{installerType}/version/{version}/checksum" : {
      "get" : {
        "tags" : [ "Deployment" ],
        "summary" : "Gets the checksum of the specified OneAgent installer",
        "description" : "The checksum is the sha256 hash of the installer file.",
        "operationId" : "getAgentInstallerWithVersionChecksum",
        "parameters" : [ {
          "name" : "If-None-Match",
          "in" : "header",
          "description" : "The ETag of the previous request. Do not download if it matches the ETag of the installer.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "osType",
          "in" : "path",
          "description" : "The operating system of the installer.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "windows", "unix", "aix", "solaris", "zos" ]
          }
        }, {
          "name" : "installerType",
          "in" : "path",
          "description" : "The type of the installer.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "paas" ]
          }
        }, {
          "name" : "version",
          "in" : "path",
          "description" : "The required version of the OneAgent in `1.155.275.20181112-084458` format. \n\nYou can retrieve the list of available versions with the [**GET available versions of OneAgent**](https://dt-url.net/fo23rb5) call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "flavor",
          "in" : "query",
          "description" : "The flavor of your Linux distribution: \n\n* `musl` for Linux distributions, which are using the musl C standard library, for example Alpine Linux. \n* 'multidistro` for all Linux distributions which are using musl C and glibc standard library. \n\nOnly applicable to the `paas` and `paas-sh` installer types.",
          "schema" : {
            "type" : "string",
            "enum" : [ "default", "multidistro", "musl" ],
            "default" : "default"
          }
        }, {
          "name" : "arch",
          "in" : "query",
          "description" : "The architecture of your OS: \n\n* `all`: Use this value for AIX and z/OS. Defaults to `x86` for other OS types. \n* `x86`: x86 architecture.\n* `ppc`: PowerPC architecture, only supported for AIX and Linux.\n* `ppcle`: PowerPC Little Endian architecture, only supported for Linux.\n* `sparc`: Sparc architecture, only supported for Solaris. \n\n* `arm`: ARM architecture, only supported for Linux. \n\n* `s390`: S/390 architecture, only supported for Linux. \n\nOnly applicable to the `paas` and `paas-sh` installer types.",
          "schema" : {
            "type" : "string",
            "enum" : [ "all", "arm", "ppc", "ppcle", "s390", "sparc", "x86" ],
            "default" : "all"
          }
        }, {
          "name" : "bitness",
          "in" : "query",
          "description" : "The bitness of your OS. Must be supported by the OS. \n\n Only applicable to the `paas` and `paas-sh` installer types.",
          "schema" : {
            "type" : "string",
            "enum" : [ "32", "64", "all" ],
            "default" : "all"
          }
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "The code modules to be included to the installer. You can specify several modules in the following format: `include=java&include=dotnet`. \n\nOnly applicable to the `paas` and `paas-sh` installer types.",
          "schema" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "all", "java", "apache", "nginx", "nodejs", "dotnet", "php", "go", "sdk" ],
              "default" : "All"
            }
          }
        }, {
          "name" : "skipMetadata",
          "in" : "query",
          "description" : "Set `true` to omit the OneAgent connectivity information from the installer. \n\n Only applicable to the `paas` and `paas-sh` installer types.",
          "schema" : {
            "type" : "boolean",
            "enum" : [ true ],
            "default" : false
          }
        }, {
          "name" : "networkZone",
          "in" : "query",
          "description" : "The network zone you want the result to be configured with.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success. The payload contains the installer file.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OneAgentInstallerChecksum"
                }
              }
            }
          },
          "304" : {
            "description" : "Not modified. You already have the latest OneAgent installed."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`InstallerDownload` (PaaS integration - Installer download)" ]
      }
    },
    "/deployment/installer/agent/processmoduleconfig" : {
      "get" : {
        "tags" : [ "Deployment" ],
        "summary" : "Gets the latest process module config | maturity=EARLY_ADOPTER",
        "description" : "Returns the latest process module config. Passing a previously gotten revision will first do a revision check, and return a 304 response if no changes were detected.",
        "operationId" : "getAgentProcessModuleConfig",
        "parameters" : [ {
          "name" : "revision",
          "in" : "query",
          "description" : "The previously received revision to compare against.",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AgentProcessModuleConfigResponse"
                }
              }
            }
          },
          "304" : {
            "description" : "Not modified."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-maturity" : "EARLY_ADOPTER",
        "x-token-scopes" : [ "`InstallerDownload` (PaaS integration - Installer download)" ]
      }
    },
    "/deployment/boshrelease/versions/{osType}" : {
      "get" : {
        "tags" : [ "Deployment" ],
        "summary" : "Gets the list of available OneAgent versions for BOSH release tarballs",
        "operationId" : "getBoshReleaseAvailableVersions",
        "parameters" : [ {
          "name" : "osType",
          "in" : "path",
          "description" : "The operating system of the installer.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "windows", "unix" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BoshReleaseAvailableVersions"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`InstallerDownload` (PaaS integration - Installer download)" ]
      }
    },
    "/deployment/boshrelease/agent/{osType}/version/{version}/checksum" : {
      "get" : {
        "tags" : [ "Deployment" ],
        "summary" : "Gets the checksum of the specified BOSH release tarball",
        "description" : "The checksum is the sha256 hash of the installer file. \n\nResult is not stable if **skipMetadata** is set to `false`.\n\nFor SaaS only works on environment ActiveGates version 1.176 or higher",
        "operationId" : "getBoshReleaseChecksum",
        "parameters" : [ {
          "name" : "osType",
          "in" : "path",
          "description" : "The operating system of the installer.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "windows", "unix" ]
          }
        }, {
          "name" : "version",
          "in" : "path",
          "description" : "The required version of the OneAgent in the `1.155.275.20181112-084458` format. \n\nYou can retrieve the list of available versions with the [**GET available versions of BOSH tarballs**](https://dt-url.net/j703kdn) call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "skipMetadata",
          "in" : "query",
          "description" : "Set `true` to omit the OneAgent connectivity information from the installer. \n\n If not set, `false` is used.",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "networkZone",
          "in" : "query",
          "description" : "The network zone you want the result to be configured with.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BoshReleaseChecksum"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`InstallerDownload` (PaaS integration - Installer download)" ]
      }
    },
    "/deployment/lambda/agent/latest" : {
      "get" : {
        "tags" : [ "Deployment" ],
        "summary" : "Get the latest version names of the OneAgent for AWS Lambda",
        "description" : "Get the latest version names of the OneAgent for the Java, Node.js, and Python AWS Lambda runtime.",
        "operationId" : "getLatestLambdaBuildUnits",
        "responses" : {
          "200" : {
            "description" : "Success. The payload contains the available versions.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LatestLambdaLayerNames"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`InstallerDownload` (PaaS integration - Installer download)" ]
      }
    },
    "/anonymize/anonymizationJobs" : {
      "put" : {
        "tags" : [ "Anonymization" ],
        "summary" : "Creates user session anonymization job",
        "description" : "The job anonymizes all user sessions in the specified timeframe by masking the specified fields. \n\nTo identify user sessions to be anonymized you can specify either userID, or IP address, or both. If you specify both the **OR** logic applies. \n\nYou can't undo the anonymization.",
        "operationId" : "anonymize",
        "parameters" : [ {
          "name" : "startTimestamp",
          "in" : "query",
          "description" : "The start timestamp of the user session to anonymize, in UTC milliseconds.\n\n If not set the earliest available time is used.",
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "default" : 0
          }
        }, {
          "name" : "endTimestamp",
          "in" : "query",
          "description" : "The end timestamp of the user session to anonymize, in UTC milliseconds.\n\n If not set the current time is used.",
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "default" : 0
          }
        }, {
          "name" : "userIds",
          "in" : "query",
          "description" : "The UserID of the user to anonymize. \n\n You can specify several IDs, in the following format: `userIds=user1&userIds=user2`.",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "ips",
          "in" : "query",
          "description" : "The IP address of the user to anonymize. All user sessions from this IP will be anonymized. \n\nYou can specify several IPs, in the following format: `ips=ip1&ips=ip2`.",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "additionalField",
          "in" : "query",
          "description" : "A list of fields to be anonymized. \n\nYou can specify several fields, in the following format: `additionalField=field1&additionalField=field2`.",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "ip", "content", "country", "region", "city", "userId", "isp", "stringProperties", "longProperties", "doubleProperties", "dateProperties", "carrier", "userActions.name", "userActions.domain", "userActions.targetUrl", "userActions.syntheticEvent", "userActions.stringProperties", "userActions.longProperties", "userActions.doubleProperties", "userActions.dateProperties", "events.name", "events.domain", "events.page", "events.pageGroup", "events.pageReferrer", "events.pageReferrerGroup" ]
            },
            "enum" : [ "ip", "content", "country", "region", "city", "userId", "isp", "stringProperties", "longProperties", "doubleProperties", "dateProperties", "carrier", "userActions.name", "userActions.domain", "userActions.targetUrl", "userActions.syntheticEvent", "userActions.stringProperties", "userActions.longProperties", "userActions.doubleProperties", "userActions.dateProperties", "events.name", "events.domain", "events.page", "events.pageGroup", "events.pageReferrer", "events.pageReferrerGroup" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success. The response body contains the ID of the anonymization job. You can use the ID to check the job status.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AnonymizationIdResult"
                }
              }
            }
          },
          "400" : {
            "description" : "Failed. The input is invalid. See the response body for details."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`UserSessionAnonymization` (Anonymize user session data for data privacy reasons)" ]
      }
    },
    "/anonymize/anonymizationJobs/{requestId}" : {
      "get" : {
        "tags" : [ "Anonymization" ],
        "summary" : "Shows the progress of the specified anonymization job",
        "operationId" : "getStatus",
        "parameters" : [ {
          "name" : "requestId",
          "in" : "path",
          "description" : "The ID of the required anonymization job.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success. The response body contains the status of the anonymization job.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AnonymizationProgressResult"
                }
              }
            }
          },
          "400" : {
            "description" : "Failed. The input is invalid. See the response body for details."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`UserSessionAnonymization` (Anonymize user session data for data privacy reasons)" ]
      }
    },
    "/userSessionQueryLanguage/table" : {
      "get" : {
        "tags" : [ "RUM - User sessions" ],
        "summary" : "Returns the result of the query as a table structure",
        "description" : "The result is a flat list of rows containing the requested columns.",
        "operationId" : "getDTAQLResultAsTable",
        "parameters" : [ {
          "name" : "query",
          "in" : "query",
          "description" : "The user session query to be executed. See [USQL documentation page](https://dt-url.net/dtusql) for syntax details. \n\n You can find the available columns of the **usersession** table in the `UserSession` object. \n\n Here is an example of the query: `SELECT country, city, COUNT(*) FROM usersession GROUP BY country, city`.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "startTimestamp",
          "in" : "query",
          "description" : "The start timestamp of the query, in UTC milliseconds. \n\nIf not set or set as `0`, 2 hours behind the current time is used.\n\n If the exact times are important, set the timeframe in the query itself (**query** parameter).",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "endTimestamp",
          "in" : "query",
          "description" : "The end timestamp of the query, in UTC milliseconds. \n\nIf not set or set as `0`, the current timestamp is used.\n\n If the exact times are important, set the timeframe in the query itself (**query** parameter).",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "offsetUTC",
          "in" : "query",
          "description" : "Optional offset of local time to UTC time in minutes. Offset will be applied to Date fields encountered in the query. \n\nCan be positive or negative. E.g. if the local time is UTC+02:00, the timeOffset is 120. If it is UTC-05:00, timeOffset is -300.",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "pageSize",
          "in" : "query",
          "description" : "Optional limit on how many of the actual query results should be returned in the tabular result.",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "pageOffset",
          "in" : "query",
          "description" : "Optional offset of the requested results from the start of tabular results. Relates to pageSize. \n\nE.g. on a query that might return 500 results, you might want to receive results in chunks of 50 rows. \n\nthis can be achieved by using pageSize=50, and setting pageOffset in subsequent calls.In the example adding pageOffset=50 returns result rows 51-100.",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "addDeepLinkFields",
          "in" : "query",
          "description" : "Add (`true`) to enable deep linking of additional fields in the query. \n\nIf not set, then `false` is used",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "explain",
          "in" : "query",
          "description" : "Add (`true`) or don't add (`false`) some additional information about the result to the response. \n\nIt helps to understand the query and how the result was calculated. \n\nIf not set, then `false` is used",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success. The response contains the result of the query.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DtaqlResultAsTable"
                }
              }
            }
          },
          "400" : {
            "description" : "Failed. The query is missing."
          },
          "404" : {
            "description" : "Failed. The query is invalid. See the response body for more information."
          },
          "199" : {
            "description" : "The data structure of the user session. This response code is never returned.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UserSession"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`DTAQLAccess` (User sessions)" ]
      }
    },
    "/userSessionQueryLanguage/tree" : {
      "get" : {
        "tags" : [ "RUM - User sessions" ],
        "summary" : "Returns the result of the query as a tree structure",
        "description" : "To get a proper tree structure, you need to specify grouping in the query.",
        "operationId" : "getDTAQLResultAsTree",
        "parameters" : [ {
          "name" : "query",
          "in" : "query",
          "description" : "The user session query to be executed. See [USQL documentation page](https://dt-url.net/dtusql) for syntax details. \n\n You can find the available columns of the **usersession** table in the `UserSession` object. \n\n Here is an example of the query: `SELECT country, city, COUNT(*) FROM usersession GROUP BY country, city`.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "startTimestamp",
          "in" : "query",
          "description" : "The start timestamp of the query, in UTC milliseconds. \n\nIf not set or set as `0`, 2 hours behind the current time is used.\n\n If the exact times are important, set the timeframe in the query itself (**query** parameter).",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "endTimestamp",
          "in" : "query",
          "description" : "The end timestamp of the query, in UTC milliseconds. \n\nIf not set or set as `0`, the current timestamp is used.\n\n If the exact times are important, set the timeframe in the query itself (**query** parameter).",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "offsetUTC",
          "in" : "query",
          "description" : "Optional offset of local time to UTC time in minutes. Offset will be applied to Date fields encountered in the query. \n\nCan be positive or negative. E.g. if the local time is UTC+02:00, the timeOffset is 120. If it is UTC-05:00, timeOffset is -300.",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "addDeepLinkFields",
          "in" : "query",
          "description" : "Add (`true`) to enable deep linking of additional fields in the query. \n\nIf not set, then `false` is used",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "explain",
          "in" : "query",
          "description" : "Add (`true`) or don't add (`false`) some additional information about the result to the response. \n\nIt helps to understand the query and how the result was calculated. \n\nIf not set, then `false` is used",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success. The response contains the result of the query.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DtaqlResultAsTree"
                }
              }
            }
          },
          "400" : {
            "description" : "Failed. The query is missing."
          },
          "404" : {
            "description" : "Failed. The query is invalid. See the response body for more information."
          },
          "199" : {
            "description" : "The data structure of the user session. This response code is never returned.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UserSession"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`DTAQLAccess` (User sessions)" ]
      }
    },
    "/events/{eventId}" : {
      "get" : {
        "tags" : [ "Events" ],
        "summary" : "Gets the parameters of the specified event",
        "operationId" : "getEventById",
        "parameters" : [ {
          "name" : "eventId",
          "in" : "path",
          "description" : "The ID of the required event.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EventRestEntry"
                }
              }
            }
          }
        },
        "deprecated" : true,
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`DataExport` (Access problem and event feed, metrics, and topology)" ]
      }
    },
    "/events" : {
      "get" : {
        "tags" : [ "Events" ],
        "summary" : "Lists all the events of your environment, along with their parameters",
        "description" : "Because the possible number of events can be huge, the response is limited to 150 events. You can focus the output by specifying filtering parameters for the request.\n\nAn event is included in the response, if either start or end timestamp of the event is within the defined timeframe.",
        "operationId" : "queryEvents",
        "parameters" : [ {
          "name" : "from",
          "in" : "query",
          "description" : "Start timestamp of the query, in UTC milliseconds. \n\n If not set, 30 days ago from now is used, unless **relativeTime** is set.",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "to",
          "in" : "query",
          "description" : "End timestamp of the query, in UTC milliseconds. \n\n If not set, the current timestamp is used, unless **relativeTime** is set. \n\nThe timeframe must not exceed 2 years.",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "relativeTime",
          "in" : "query",
          "description" : "Relative timeframe, back from the current time.",
          "schema" : {
            "type" : "string",
            "enum" : [ "10mins", "15mins", "2hours", "30mins", "3days", "5mins", "6hours", "day", "hour", "min", "month", "week" ]
          }
        }, {
          "name" : "eventType",
          "in" : "query",
          "description" : "Filters the resulting set of events by the event type.",
          "schema" : {
            "type" : "string",
            "enum" : [ "APPLICATION_JS_FRAMEWORK_DETECTED", "APPLICATION_OVERLOAD_PREVENTION", "AVAILABILITY_EVENT", "CONNECTION_LOST", "CPU_SATURATED", "CUSTOM_ALERT", "CUSTOM_ANNOTATION", "CUSTOM_APPLICATION_OVERLOAD_PREVENTION", "CUSTOM_APP_CRASH_RATE_INCREASED", "CUSTOM_CONFIGURATION", "CUSTOM_DEPLOYMENT", "CUSTOM_INFO", "DATABASE_CONNECTION_FAILURE", "DEPLOYMENT_CHANGED_CHANGE", "DEPLOYMENT_CHANGED_NEW", "DEPLOYMENT_CHANGED_REMOVED", "DYNATRACE_INTERNAL", "EBS_VOLUME_HIGH_LATENCY", "ELASTIC_LOAD_BALANCER_HIGH_BACKEND_FAILURE_RATE", "ELASTIC_LOAD_BALANCER_HIGH_FAILURE_RATE", "ELASTIC_LOAD_BALANCER_HIGH_UNHEALTHY_HOST_RATE", "ERROR_EVENT", "ESXI_HOST_VM_MOTION_ARRIVED", "ESXI_HOST_VM_MOTION_LEFT", "ESXI_HOST_VM_STARTED", "ESXI_START", "ESXI_VM_DISCONNECTED", "ESXI_VM_MOTION", "ESXI_VM_POWER_OFF", "ESXI_VM_START", "FAILURE_RATE_INCREASED", "HIGH_CONNECTIVITY_FAILURES", "HIGH_DROPPED_PACKETS_RATE", "HIGH_GC_ACTIVITY", "HIGH_LATENCY", "HIGH_NETWORK_ERROR_RATE", "HIGH_NETWORK_LOSS_RATE", "HIGH_NETWORK_UTILIZATION", "HOST_CONNECTION_FAILED", "HOST_CONNECTION_LOST", "HOST_DATASTORE_LOW_DISK_SPACE", "HOST_DISK_LOW_INODES", "HOST_GRACEFULLY_SHUTDOWN", "HOST_LOG_AVAILABILITY", "HOST_LOG_ERROR", "HOST_LOG_MATCHED", "HOST_LOG_PERFORMANCE", "HOST_MAINTENANCE", "HOST_NO_CONNECTION", "HOST_OF_SERVICE_UNAVAILABLE", "HOST_SHUTDOWN", "HOST_TIMEOUT", "HTTP_CHECK_GLOBAL_OUTAGE", "HTTP_CHECK_LOCAL_OUTAGE", "HTTP_CHECK_TEST_LOCATION_SLOWDOWN", "INSUFFICIENT_DISK_QUEUE_DEPTH", "JAVASCRIPT_ERROR_RATE_INCREASED", "LAMBDA_FUNCTION_HIGH_ERROR_RATE", "LOG_AVAILABILITY", "LOG_ERROR", "LOG_MATCHED", "LOG_PERFORMANCE", "LOW_DISK_SPACE", "LOW_STORAGE_SPACE", "MARKED_FOR_TERMINATION", "MEMORY_RESOURCES_EXHAUSTED", "MEMORY_SATURATED", "MOBILE_APPLICATION_OVERLOAD_PREVENTION", "MOBILE_APP_CRASH_RATE_INCREASED", "MONITORING_UNAVAILABLE", "OPENSTACK_HOST_VM_SHUTDOWN", "OPENSTACK_HOST_VM_STARTED", "OPENSTACK_KEYSTONE_SLOW", "OPENSTACK_KEYSTONE_UNHEALTHY", "OPENSTACK_VM_LAUNCH_FAILED", "OPENSTACK_VM_MOTION", "OSI_DOCKER_DEVICEMAPPER_LOW_DATA_SPACE", "OSI_DOCKER_DEVICEMAPPER_LOW_METADATA_SPACE", "OVERLOADED_STORAGE", "PERFORMANCE_EVENT", "PGI_CRASHED_INFO", "PGI_HAPROXY_QUEUED_REQUESTS_HIGH", "PGI_HAPROXY_SESSION_USAGE_HIGH", "PGI_LOG_MATCHED", "PGI_MEMDUMP", "PGI_MYSQL_SLOW_QUERIES_RATE_HIGH", "PGI_OF_SERVICE_UNAVAILABLE", "PGI_RMQ_HIGH_FILE_DESC_USAGE", "PGI_RMQ_HIGH_MEM_USAGE", "PGI_RMQ_HIGH_PROCESS_USAGE", "PGI_RMQ_HIGH_SOCKETS_USAGE", "PGI_RMQ_LOW_DISK_SPACE", "PROCESS_CRASHED", "PROCESS_CUSTOM_AVAILABILITY", "PROCESS_CUSTOM_ERROR", "PROCESS_CUSTOM_PERFORMANCE", "PROCESS_GROUP_LOW_INSTANCE_COUNT", "PROCESS_LOG_AVAILABILITY", "PROCESS_LOG_ERROR", "PROCESS_LOG_PERFORMANCE", "PROCESS_RESTART", "PROCESS_UNAVAILABLE", "RDS_AZ_FAILOVER_COMPLETED", "RDS_AZ_FAILOVER_STARTED", "RDS_BACKUP_COMPLETED", "RDS_BACKUP_STARTED", "RDS_OF_SERVICE_UNAVAILABLE", "RDS_RESTART", "RDS_RESTART_SEQUENCE", "RESOURCE_CONTENTION", "SERVICE_RESPONSE_TIME_DEGRADED", "SLOW_DISK", "SYNTHETIC_AVAILABILITY", "SYNTHETIC_NODE_OUTAGE", "SYNTHETIC_PRIVATE_LOCATION_OUTAGE", "SYNTHETIC_SLOWDOWN", "THREADS_RESOURCES_EXHAUSTED", "UNEXPECTED_HIGH_LOAD", "UNEXPECTED_LOW_LOAD", "USER_ACTION_DURATION_DEGRADATION", "VIRTUAL_MACHINE_SHUTDOWN", "WEB_CHECK_GLOBAL_OUTAGE", "WEB_CHECK_LOCAL_OUTAGE" ]
          }
        }, {
          "name" : "entityId",
          "in" : "query",
          "description" : "Filters the resulting set of events to the events, related to the specified Dynatrace entity.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "cursor",
          "in" : "query",
          "description" : "The response is limited to 150 events, so if you want to receive more you can use the cursor to get the next 150. This parameter should be empty when querying for the first time.  \n\nThe cursor key can then be found in the **nextCursor** field of the previous response. \n\nWhen using the cursor string, it is not necessary to specify the additional parameters, as that info is already encoded within the cursor.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EventQueryResult"
                }
              }
            }
          }
        },
        "deprecated" : true,
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`DataExport` (Access problem and event feed, metrics, and topology)" ]
      },
      "post" : {
        "tags" : [ "Events" ],
        "summary" : "Pushes custom events to one or more monitored entities",
        "description" : "You can use this endpoint to: \n\n* Push information-only events from third-party systems such as CI platforms (Jenkins, Bamboo, Electric Cloud, etc.) to provide additional information for Dynatrace automated root cause analysis. The time of event closure is already known and the event IDs are returned instantly. You can report these events for up to **30 days** into the past. The information-only event types are: \n`CUSTOM_ANNOTATION` \n `CUSTOM_CONFIGURATION` \n `CUSTOM_DEPLOYMENT` \n `CUSTOM_INFO` \n `MARKED_FOR_TERMINATION` \n\n* Push problem-opening events (for example, an error rate increase) to trigger the Dynatrace automated root cause analysis engine.  Correlation IDs are returned instead of event IDs. These events stay open until the specified timeout expires. To prevent expiration, you can refresh these events by sending the same payload again. You can report these events for up to **60 minutes** into the past. The problem-opening event types are (sorted by severity level, descending): \n`AVAILABILITY_EVENT` \n `ERROR_EVENT` \n `PERFORMANCE_EVENT` \n `RESOURCE_CONTENTION` \n\nThe actual set of event parameters depends on the type of your event. To find the parameters mapping, see [POST an event](https://dt-url.net/1v63r77) in Dynatrace Documentation.",
        "operationId" : "postEvent",
        "requestBody" : {
          "description" : "The JSON body of the request, containing parameters of the event.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/EventCreation"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EventStoreResult"
                }
              }
            }
          }
        },
        "deprecated" : true,
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`DataExport` (Access problem and event feed, metrics, and topology)" ]
      }
    },
    "/synthetic/ext/events" : {
      "post" : {
        "tags" : [ "Synthetic - Third party" ],
        "summary" : "Pushes third-party synthetic events to Dynatrace",
        "operationId" : "pushEvents",
        "requestBody" : {
          "description" : "The JSON body of the request. Contains third-party synthetic events.",
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/3rdPartySyntheticEvents"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "Success. The information is accepted and stored."
          },
          "400" : {
            "description" : "Failed. The input is invalid.",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`ExternalSyntheticIntegration` (Create and read synthetic monitors, locations, and nodes)" ]
      }
    },
    "/synthetic/ext/stateModifications" : {
      "post" : {
        "tags" : [ "Synthetic - Third party" ],
        "summary" : "Modifies the operation state of all third-party monitors",
        "operationId" : "pushStateModification",
        "requestBody" : {
          "description" : "The JSON body of the request. Contains new operational status of third-party synthetic monitors.",
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/StateModification"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "Success. The state of third-party monitors has been changed."
          },
          "400" : {
            "description" : "Failed. The input is invalid.",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`ExternalSyntheticIntegration` (Create and read synthetic monitors, locations, and nodes)" ]
      }
    },
    "/synthetic/ext/tests" : {
      "post" : {
        "tags" : [ "Synthetic - Third party" ],
        "summary" : "Pushes third-party synthetic monitors, locations, and results to Dynatrace",
        "operationId" : "testResults",
        "requestBody" : {
          "description" : "The JSON body of the request. Contains third-party synthetic monitors, locations, and results.",
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/3rdPartySyntheticTests"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "Success. The information is accepted and stored."
          },
          "400" : {
            "description" : "Failed. The input is invalid.",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`ExternalSyntheticIntegration` (Create and read synthetic monitors, locations, and nodes)" ]
      }
    },
    "/rum/appRevision/{entity}" : {
      "get" : {
        "tags" : [ "RUM - JavaScript tag management" ],
        "summary" : "Gets the version of the RUM JavaScript code injected into specified application",
        "operationId" : "getAppRevision",
        "parameters" : [ {
          "name" : "entity",
          "in" : "path",
          "description" : "The Dynatrace entity ID of the application. \n\nYou can obtain it from the response of the [GET the list of manually injected applications](https://dt-url.net/dl03sgo) call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain; charset=utf-8" : {
                "schema" : {
                  "type" : "string"
                },
                "example" : "1539600997135"
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`RumJavaScriptTagManagement` (Real user monitoring JavaScript tag management)" ]
      }
    },
    "/rum/asyncCS/{entity}" : {
      "get" : {
        "tags" : [ "RUM - JavaScript tag management" ],
        "summary" : "Downloads the asynchronous code snippet",
        "description" : "This code provides configuration and basic code to be manually inserted into your web application code.\n\n The full functionality of the monitoring code is loaded asynchronously.",
        "operationId" : "getAsyncCodeSnippet",
        "parameters" : [ {
          "name" : "entity",
          "in" : "path",
          "description" : "The Dynatrace entity ID of the application. \n\nYou can obtain it from the response of the [GET the list of manually injected applications](https://dt-url.net/dl03sgo) call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain; charset=utf-8" : {
                "schema" : {
                  "type" : "string"
                },
                "example" : "<script type=\"text/javascript\"> <truncated> </script>"
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`RumJavaScriptTagManagement` (Real user monitoring JavaScript tag management)" ]
      }
    },
    "/rum/jsInlineScript/{entity}" : {
      "get" : {
        "tags" : [ "RUM - JavaScript tag management" ],
        "summary" : "Downloads inline code",
        "description" : "Returns the inline code of the most recent OneAgent JavaScript. This is a complete configuration and monitoring code to be manually inserted into your web application code.",
        "operationId" : "getJsInlineScript",
        "parameters" : [ {
          "name" : "entity",
          "in" : "path",
          "description" : "The Dynatrace entity ID of the application. \n\nYou can obtain it from the response of the [GET the list of manually injected applications](https://dt-url.net/dl03sgo) call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain; charset=utf-8" : {
                "schema" : {
                  "type" : "string"
                },
                "example" : "<script type=\"text/javascript\"> <truncated> </script>"
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`RumJavaScriptTagManagement` (Real user monitoring JavaScript tag management)" ]
      }
    },
    "/rum/jsLatestVersion" : {
      "get" : {
        "tags" : [ "RUM - JavaScript tag management" ],
        "summary" : "Gets the latest version of OneAgent JavaScript library",
        "operationId" : "getJsLatestVersion",
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain; charset=utf-8" : {
                "schema" : {
                  "type" : "string"
                },
                "example" : "10156181011154332"
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`RumJavaScriptTagManagement` (Real user monitoring JavaScript tag management)" ]
      }
    },
    "/rum/jsTag/{entity}" : {
      "get" : {
        "tags" : [ "RUM - JavaScript tag management" ],
        "summary" : "Downloads OneAgent JavaScript tag",
        "description" : "Returns the OneAgent JavaScript tag. This is a complete configuration and monitoring code to be manually inserted into your web application code.\n\n The monitoring code is loaded as a separate file from a CDN.",
        "operationId" : "getJsScript",
        "parameters" : [ {
          "name" : "entity",
          "in" : "path",
          "description" : "The Dynatrace entity ID of the application. \n\nYou can obtain it from the response of the [GET the list of manually injected applications](https://dt-url.net/dl03sgo) call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain; charset=utf-8" : {
                "schema" : {
                  "type" : "string"
                },
                "example" : "<script type=\"text/javascript\" src=\"https://mySampleEnv.live.dynatrace.com/jstag/1468ae7109d/ruxitagent_ICA27SVfgqrx_10156181011154332.js\"\ndata-dtconfig=\"app=bbfa55551d507e2b|cors=1|bp2=1|featureHash=ICA27SVfgqrx|reportUrl=https://mySampleEnv.live.dynatrace.com/bf|rdnt=1|bp=2|srms=1,1,,,|dpvc=1|srad=1|lastModification=0|dtVersion=10156181011154332|tp=500,50,0,1\"\ncrossorigin=\"anonymous\"></script>"
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`RumJavaScriptTagManagement` (Real user monitoring JavaScript tag management)" ]
      }
    },
    "/rum/jsTagComplete/{entity}" : {
      "get" : {
        "tags" : [ "RUM - JavaScript tag management" ],
        "summary" : "Downloads JavaScript tag",
        "description" : "Returns a JavaScript tag to be manually inserted into your web application code. The tag references a JavaScript file with full configuration and monitoring code, which causes a lower possible caching duration.",
        "operationId" : "getJsTagComplete",
        "parameters" : [ {
          "name" : "entity",
          "in" : "path",
          "description" : "The Dynatrace entity ID of the application. \n\nYou can obtain it from the response of the [GET the list of manually injected applications](https://dt-url.net/dl03sgo) call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain; charset=utf-8" : {
                "schema" : {
                  "type" : "string"
                },
                "example" : "<script type=\"text/javascript\" src=\"https://mySampleEnv.live.dynatrace.com/jstag/1468ae7109d/bf79563wis/37c3a000d8cbd913_complete.js\" crossorigin=\"anonymous\"></script>"
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`RumJavaScriptTagManagement` (Real user monitoring JavaScript tag management)" ]
      }
    },
    "/rum/manualApps" : {
      "get" : {
        "tags" : [ "RUM - JavaScript tag management" ],
        "summary" : "Lists all manually injected applications",
        "operationId" : "getManualApps",
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ManualApplication"
                  }
                },
                "example" : [ {
                  "applicationId" : "APPLICATION-C15B48CBCADC863B",
                  "displayName" : "manually injected application",
                  "monitoringEnabled" : true,
                  "revision" : 1456380804910
                } ]
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`RumJavaScriptTagManagement` (Real user monitoring JavaScript tag management)" ]
      }
    },
    "/rum/syncCS/{entity}" : {
      "get" : {
        "tags" : [ "RUM - JavaScript tag management" ],
        "summary" : "Downloads the synchronous code snippet",
        "description" : "This code provides configuration and basic code to be manually inserted into your web application code.\n\n The full functionality of the monitoring code is loaded synchronously.",
        "operationId" : "getSyncCodeSnippet",
        "parameters" : [ {
          "name" : "entity",
          "in" : "path",
          "description" : "The Dynatrace entity ID of the application. \n\nYou can obtain it from the response of the [GET the list of manually injected applications](https://dt-url.net/dl03sgo) call.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain; charset=utf-8" : {
                "schema" : {
                  "type" : "string"
                },
                "example" : "<script type=\"text/javascript\"> <truncated> </script>"
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`RumJavaScriptTagManagement` (Real user monitoring JavaScript tag management)" ]
      }
    },
    "/maintenance" : {
      "get" : {
        "tags" : [ "Maintenance window" ],
        "summary" : "Lists all parameters of all maintenance windows available in your Dynatrace environment.",
        "operationId" : "getAllMaintenanceWindowConfigs",
        "parameters" : [ {
          "name" : "from",
          "in" : "query",
          "description" : "The start timestamp of the inquiry timeframe, in UTC milliseconds. \n\n If not set, the current time is used.",
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "default" : 0
          }
        }, {
          "name" : "to",
          "in" : "query",
          "description" : "The end timestamp of the inquiry timeframe, in UTC milliseconds. \n\n If not set, all maintenance windows beginning after the `from` timestamp will be returned.",
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "default" : 0
          }
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "The type of the maintenance window to return. \n\n If `Unknown` or not set, all maintenance windows are returned.",
          "schema" : {
            "type" : "string",
            "enum" : [ "Planned", "Unknown", "Unplanned" ],
            "default" : "Unknown"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/MaintenanceWindow"
                  }
                }
              }
            }
          }
        },
        "deprecated" : true,
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`MaintenanceWindows` (Deprecated: Configure maintenance windows)" ]
      },
      "post" : {
        "tags" : [ "Maintenance window" ],
        "summary" : "Creates a new or updates an existing maintenance window",
        "operationId" : "storeMaintenanceWindowConfig",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MaintenanceWindow"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Success. The maintenance window has been updated."
          },
          "400" : {
            "description" : "Failed. The input is invalid.",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "deprecated" : true,
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`MaintenanceWindows` (Deprecated: Configure maintenance windows)" ]
      }
    },
    "/maintenance/{uid}" : {
      "get" : {
        "tags" : [ "Maintenance window" ],
        "summary" : "Lists all parameters of the specified maintenance window.",
        "operationId" : "getMaintenanceWindowConfig",
        "parameters" : [ {
          "name" : "uid",
          "in" : "path",
          "description" : "The ID of the required maintenance window.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MaintenanceWindow"
                }
              }
            }
          }
        },
        "deprecated" : true,
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`MaintenanceWindows` (Deprecated: Configure maintenance windows)" ]
      },
      "delete" : {
        "tags" : [ "Maintenance window" ],
        "summary" : "Deletes the specified maintenance window",
        "description" : "Deletion cannot be undone.",
        "operationId" : "removeMaintenanceWindowConfig",
        "parameters" : [ {
          "name" : "uid",
          "in" : "path",
          "description" : "The ID of the maintenance window to delete.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Success. The maintenance window has been deleted."
          }
        },
        "deprecated" : true,
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`MaintenanceWindows` (Deprecated: Configure maintenance windows)" ]
      }
    },
    "/entity/applications" : {
      "get" : {
        "tags" : [ "Topology & Smartscape - Application" ],
        "summary" : "Gets the list of all applications in your environment along with their parameters",
        "description" : "You can narrow down the output by specifying filtering parameters for the request. \n\nYou can additionally limit the output by using pagination: \n1. Specify the number of results per page in the **pageSize** query parameter. \n2. Then use the URL-encoded cursor from the **Next-Page-Key** response header in the **nextPageKey** query parameter to obtain subsequent pages.",
        "operationId" : "getApplications",
        "parameters" : [ {
          "name" : "startTimestamp",
          "in" : "query",
          "description" : "The start timestamp of the requested timeframe, in milliseconds (UTC). \n\nIf not set, then 72 hours behind from now is used.",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "endTimestamp",
          "in" : "query",
          "description" : "The end timestamp of the requested timeframe, in milliseconds (UTC). \n\nIf not set, then the current timestamp is used. \n\nThe timeframe must not exceed 3 days.",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "relativeTime",
          "in" : "query",
          "description" : "The relative timeframe, back from now.",
          "schema" : {
            "type" : "string",
            "enum" : [ "min", "5mins", "10mins", "15mins", "30mins", "hour", "2hours", "6hours", "day", "3days" ]
          }
        }, {
          "name" : "tag",
          "in" : "query",
          "description" : "Filters the resulting set of applications by the specified tag. You can specify several tags in the following format: `tag=tag1&tag=tag2`. The application has to match **all** the specified tags. \n\nIn case of key-value tags, such as imported AWS or CloudFoundry tags, use the following format: `tag=[context]key:value`. For custom key-value tags, omit the context: `tag=key:value`.",
          "schema" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "entity",
          "in" : "query",
          "description" : "Filters result to the specified applications only. \n\n To specify several applications use the following format: `entity=ID1&entity=ID2`.",
          "schema" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "managementZone",
          "in" : "query",
          "description" : "Only return applications that are part of the specified management zone.",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "includeDetails",
          "in" : "query",
          "description" : "Includes (`true`) or excludes (`false`) details which are queried from related entities.\n\nExcluding details may make queries faster. \n\nIf not set, then `true` is used.",
          "schema" : {
            "type" : "boolean",
            "default" : true
          }
        }, {
          "name" : "pageSize",
          "in" : "query",
          "description" : "The number of applications per result page. \n\n If not set, pagination is not used and the result contains all applications fitting the specified filtering criteria.",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "nextPageKey",
          "in" : "query",
          "description" : "The cursor for the next page of results. You can find it in the **Next-Page-Key** header of the previous response. \n\nIf you're using pagination, the first page is always returned without this cursor. \n\nYou must keep all other query parameters as they were in the first request to obtain subsequent pages.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "headers" : {
              "Total-Count" : {
                "description" : "The estimated number of results.",
                "style" : "simple",
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                }
              },
              "Next-Page-Key" : {
                "description" : "The cursor for the next page of results. Without it you'll get the first page again.\n\n The cursor must be URL-encoded.",
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              },
              "Page-Size" : {
                "description" : "The maximum number of results per page.",
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Application"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Failed. The input is invalid.",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`DataExport` (Access problem and event feed, metrics, and topology)" ]
      }
    },
    "/entity/applications/{meIdentifier}/baseline" : {
      "get" : {
        "tags" : [ "Topology & Smartscape - Application" ],
        "summary" : "Gets baseline data for the specified application | maturity=EARLY_ADOPTER",
        "operationId" : "getBaselineValuesForSingleApplication",
        "parameters" : [ {
          "name" : "meIdentifier",
          "in" : "path",
          "description" : "The Dynatrace entity ID of the required application.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationBaselineValues"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-maturity" : "EARLY_ADOPTER",
[...]
