{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Dynatrace Configuration API",
    "description" : "Documentation of the Dynatrace Configuration API. To read about use-cases and examples, see [Dynatrace Documentation](https://dt-url.net/4u43kxw).\n\nNotes about compatibility:\n* Operations marked as early adopter or preview may be changed in non-compatible ways, although we try to avoid this.\n* We may add new enum constants without incrementing the API version; thus, clients need to handle unknown enum constants gracefully.",
    "version" : "1.0"
  },
  "servers" : [ {
    "url" : "https://xxxxxxxx.live.dynatrace.com/api/config/v1",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "RUM - Application detection rules",
    "description" : "Manage application detection rules"
  }, {
    "name" : "RUM - Application detection rules - Host detection",
    "description" : "Manage configuration of host detection headers"
  }, {
    "name" : "RUM - Geographic regions - IP address mapping",
    "description" : "Manage the IP address mapping rules for geographic regions"
  }, {
    "name" : "RUM - Geographic regions - custom client IP headers",
    "description" : "Manage the list of custom client IP headers"
  }, {
    "name" : "RUM - Content resources",
    "description" : "Manage content resource rules"
  }, {
    "name" : "AWS credentials configuration",
    "description" : "Manage AWS credentials and monitoring options"
  }, {
    "name" : "Azure credentials configuration",
    "description" : "Manage Azure app-level credentials and monitoring options"
  }, {
    "name" : "RUM - Web application configuration",
    "description" : "Manage web applications"
  }, {
    "name" : "RUM - Allowed beacon origins for CORS",
    "description" : "Manage allowed beacon origins for CORS requests"
  }, {
    "name" : "RUM - Mobile and custom application configuration",
    "description" : "Manage mobile and custom applications"
  }, {
    "name" : "Service - Request attributes",
    "description" : "Manage request attributes"
  }, {
    "name" : "Data privacy and security",
    "description" : "Manage global data privacy and security settings"
  }, {
    "name" : "Anomaly detection - Hosts",
    "description" : "Manage anomaly detection configuration for hosts"
  }, {
    "name" : "Anomaly detection - Services",
    "description" : "Manage anomaly detection configuration for services"
  }, {
    "name" : "Anomaly detection - Database services",
    "description" : "Manage anomaly detection configuration for database services"
  }, {
    "name" : "Anomaly detection - Applications",
    "description" : "Manage anomaly detection configuration for applications"
  }, {
    "name" : "Anomaly detection - Disk events",
    "description" : "Manage anomaly detection configuration for disk events"
  }, {
    "name" : "Anomaly detection - AWS",
    "description" : "Manage anomaly detection configuration for AWS"
  }, {
    "name" : "Anomaly detection - VMware",
    "description" : "Manage anomaly detection configuration for VMware"
  }, {
    "name" : "Anomaly detection - Metric events",
    "description" : "Manage anomaly detection configuration for metric events"
  }, {
    "name" : "Service - Custom services",
    "description" : "Manage custom services"
  }, {
    "name" : "Anomaly detection - Process groups",
    "description" : "Manage anomaly detection configuration for process groups"
  }, {
    "name" : "Service - Request naming",
    "description" : "Manage request naming rules"
  }, {
    "name" : "Automatically applied tags",
    "description" : "Manage automatically applied tags"
  }, {
    "name" : "Management zones",
    "description" : "Manage management zones"
  }, {
    "name" : "Maintenance windows",
    "description" : "Deprecated. Use the [Settings endpoint](index.jsp?urls.primaryName=Environment%20API%20v2#/Settings%20-%20Objects) with schemaId `builtin:alerting.maintenance-window`."
  }, {
    "name" : "OneAgent on a host",
    "description" : "Manage configuration of OneAgent on a host"
  }, {
    "name" : "OneAgent in a host group",
    "description" : "Manage configuration of OneAgent in a host group"
  }, {
    "name" : "OneAgent - Environment-wide configuration",
    "description" : "Manage configuration of OneAgents for the environment"
  }, {
    "name" : "Service - IBM MQ tracing",
    "description" : "Deprecated. Manage IBM MQ tracing settings via the [Settings endpoint](index.jsp?urls.primaryName=Environment%20API%20v2#/Settings%20-%20Objects) with schemaIds `builtin:ibmmq.ims-bridges` and `builtin:ibmmq.queue-managers` instead."
  }, {
    "name" : "Cloud Foundry credentials configuration",
    "description" : "Manage Cloud Foundry foundation credentials"
  }, {
    "name" : "Calculated metrics - Services",
    "description" : "Manage metric subscriptions for services"
  }, {
    "name" : "Calculated metrics - Web applications",
    "description" : "Manage calculated metrics for web applications"
  }, {
    "name" : "Calculated metrics - Synthetic",
    "description" : "Manage calculated metrics for synthetic monitors"
  }, {
    "name" : "Calculated metrics - Mobile & custom applications",
    "description" : "Manage calculated metrics for mobile & custom apps"
  }, {
    "name" : "Calculated metrics - Log monitoring",
    "description" : "Manage calculated metrics for Log Monitoring"
  }, {
    "name" : "Service - Detection full web service",
    "description" : "Manage full web service detection rules"
  }, {
    "name" : "Service - Detection full web request",
    "description" : "Manage full web request service detection rules"
  }, {
    "name" : "Service - Detection opaque and external web service",
    "description" : "Manage opaque and external web service detection rules"
  }, {
    "name" : "Service - Detection opaque and external web request",
    "description" : "Manage opaque and external web request service detection rules"
  }, {
    "name" : "Reports",
    "description" : "Manage reports"
  }, {
    "name" : "Dashboards",
    "description" : "Manage dashboards"
  }, {
    "name" : "Kubernetes credentials configuration",
    "description" : "Manage Kubernetes cluster credentials"
  }, {
    "name" : "Plugins",
    "description" : "Manage plugins and their configurations"
  }, {
    "name" : "Extensions",
    "description" : "Manage extensions and their configurations"
  }, {
    "name" : "Frequent issue detection",
    "description" : "Deprecated. Use the [Settings endpoint](index.jsp?urls.primaryName=Environment%20API%20v2#/Settings%20-%20Objects) with schemaId `builtin:anomaly-detection.frequent-issues`."
  }, {
    "name" : "Notifications",
    "description" : "Deprecated. Use the [Settings endpoint](index.jsp?urls.primaryName=Environment%20API%20v2#/Settings%20-%20Objects) with schemaId `builtin:problem.notifications`."
  }, {
    "name" : "Remote environments",
    "description" : "Manage remote Dynatrace environments"
  }, {
    "name" : "AWS PrivateLink",
    "description" : "AWS PrivateLink allowlisting"
  }, {
    "name" : "Alerting Profiles",
    "description" : "Deprecated. Use the [Settings endpoint](index.jsp?urls.primaryName=Environment%20API%20v2#/Settings%20-%20Objects) with schemaId `builtin:alerting.profile`."
  }, {
    "name" : "Conditional naming",
    "description" : "Manage conditional naming rules"
  }, {
    "name" : "Credential vault",
    "description" : "Manage credentials for Synthetic monitors"
  }, {
    "name" : "Service - Failure detection parameter sets",
    "description" : "Manage failure detection parameter sets"
  }, {
    "name" : "Service - Failure detection rules",
    "description" : "Manage failure detection rules"
  } ],
  "paths" : {
    "/alertingProfiles" : {
      "get" : {
        "tags" : [ "Alerting Profiles" ],
        "summary" : "Lists all alerting profiles available in your environment",
        "operationId" : "getAlertingProfiles",
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StubList"
                }
              }
            }
          }
        },
        "deprecated" : true,
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`ReadConfig` (Read configuration)" ]
      },
      "post" : {
        "tags" : [ "Alerting Profiles" ],
        "summary" : "Creates a new alerting profile",
        "description" : "The body must not provide an ID. An ID is assigned automatically by the Dynatrace server.",
        "operationId" : "createAlertingProfile",
        "requestBody" : {
          "description" : "The JSON body of the request. Contains parameters of the new alerting profile.",
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/AlertingProfile"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Success. The new alerting profile has been created. The response contains the ID of the new alerting profile.",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EntityShortRepresentation"
                }
              }
            }
          },
          "400" : {
            "description" : "Failed. The input is invalid.",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "deprecated" : true,
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`WriteConfig` (Write configuration)" ]
      }
    },
    "/alertingProfiles/{id}" : {
      "get" : {
        "tags" : [ "Alerting Profiles" ],
        "summary" : "Gets the properties of the specified alerting profile",
        "operationId" : "getAlertingProfile",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the required alerting profile.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AlertingProfile"
                }
              }
            }
          }
        },
        "deprecated" : true,
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`ReadConfig` (Read configuration)" ]
      },
      "put" : {
        "tags" : [ "Alerting Profiles" ],
        "summary" : "Updates an existing alerting profile",
        "description" : "If an alerting profile with the specified ID doesn't exist, a new one is created.",
        "operationId" : "createOrUpdateAlertingProfile",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the alerting profile to be updated.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "description" : "The JSON body of the request. Contains updated parameters of the alerting profile.",
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/AlertingProfile"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Success. The alerting profile has been updated. Response doesn't have a body."
          },
          "201" : {
            "description" : "Success. The new alerting profile has been created. The response contains the ID of the new alerting profile.",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EntityShortRepresentation"
                }
              }
            }
          },
          "400" : {
            "description" : "Failed. The input is invalid.",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "deprecated" : true,
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`WriteConfig` (Write configuration)" ]
      },
      "delete" : {
        "tags" : [ "Alerting Profiles" ],
        "summary" : "Deletes the specified alerting profile",
        "description" : "The default alerting profile cannot be deleted.",
        "operationId" : "deleteAlertingProfile",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the alerting profile to be deleted.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Success. The alerting profile has been deleted. Response doesn't have a body."
          }
        },
        "deprecated" : true,
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`WriteConfig` (Write configuration)" ]
      }
    },
    "/alertingProfiles/validator" : {
      "post" : {
        "tags" : [ "Alerting Profiles" ],
        "summary" : "Validates the payload the `POST /alertingProfiles` request",
        "operationId" : "validateCreateAlertingProfile",
        "requestBody" : {
          "description" : "The JSON body of the request. Contains parameters of the alerting profile to be validated.",
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/AlertingProfile"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Validated. The submitted alerting profile is valid. Response doesn't have a body"
          },
          "400" : {
            "description" : "Failed. The input is invalid.",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "deprecated" : true,
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`WriteConfig` (Write configuration)" ]
      }
    },
    "/alertingProfiles/{id}/validator" : {
      "post" : {
        "tags" : [ "Alerting Profiles" ],
        "summary" : "Validates the payload the `PUT /alertingProfiles/{id}` request",
        "operationId" : "validateCreateOrUpdateAlertingProfile",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the alerting profile to be validated.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "description" : "The JSON body of the request. Contains parameters of the alerting profile to be validated.",
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/AlertingProfile"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Validated. The submitted alerting profile is valid. Response doesn't have a body"
          },
          "400" : {
            "description" : "Failed. The input is invalid.",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "deprecated" : true,
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`WriteConfig` (Write configuration)" ]
      }
    },
    "/anomalyDetection/applications" : {
      "get" : {
        "tags" : [ "Anomaly detection - Applications" ],
        "summary" : "Gets the configuration of anomaly detection for applications",
        "operationId" : "getApplicationAnomalyDetectionConfig",
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationAnomalyDetectionConfig"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`ReadConfig` (Read configuration)" ]
      },
      "put" : {
        "tags" : [ "Anomaly detection - Applications" ],
        "summary" : "Updates the configuration of anomaly detection for applications",
        "operationId" : "updateApplicationAnomalyDetectionConfig",
        "requestBody" : {
          "description" : "The JSON body of the request, containing parameters of the application anomaly detection configuration.",
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApplicationAnomalyDetectionConfig"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Success. Configuration has been updated. Response doesn't have a body."
          },
          "400" : {
            "description" : "Failed. The input is invalid",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`WriteConfig` (Write configuration)" ]
      }
    },
    "/anomalyDetection/applications/validator" : {
      "post" : {
        "tags" : [ "Anomaly detection - Applications" ],
        "summary" : "Validates the configuration of anomaly detection for applications for the `PUT /anomalyDetection/applications` request",
        "operationId" : "validateApplicationAnomalyDetectionConfig",
        "requestBody" : {
          "description" : "The JSON body of the request, containing parameters of the application anomaly detection configuration.",
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApplicationAnomalyDetectionConfig"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Validated. The submitted configuration is valid. Response does not have a body."
          },
          "400" : {
            "description" : "Failed. The input is invalid",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`WriteConfig` (Write configuration)" ]
      }
    },
    "/anomalyDetection/aws" : {
      "get" : {
        "tags" : [ "Anomaly detection - AWS" ],
        "summary" : "Gets the configuration of anomaly detection for AWS",
        "operationId" : "getAwsAnomalyDetectionConfig",
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AwsAnomalyDetectionConfig"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`ReadConfig` (Read configuration)" ]
      },
      "put" : {
        "tags" : [ "Anomaly detection - AWS" ],
        "summary" : "Updates the configuration of anomaly detection for AWS",
        "operationId" : "updateAwsAnomalyDetectionConfig",
        "requestBody" : {
          "description" : "JSON body of the request, containing parameters of the AWS anomaly detection configuration.",
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/AwsAnomalyDetectionConfig"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Success. Configuration has been updated. Response doesn't have a body."
          },
          "400" : {
            "description" : "Failed. The input is invalid.",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`WriteConfig` (Write configuration)" ]
      }
    },
    "/anomalyDetection/aws/validator" : {
      "post" : {
        "tags" : [ "Anomaly detection - AWS" ],
        "summary" : "Validates the configuration of anomaly detection for AWS for the `PUT /anomalyDetection/aws` request",
        "operationId" : "validateAwsAnomalyDetectionConfig",
        "requestBody" : {
          "description" : "JSON body of the request, containing parameters of the AWS anomaly detection configuration.",
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/AwsAnomalyDetectionConfig"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Validated. The submitted configuration is valid. Response doesn't have a body."
          },
          "400" : {
            "description" : "Failed. The input is invalid.",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`WriteConfig` (Write configuration)" ]
      }
    },
    "/anomalyDetection/databaseServices" : {
      "get" : {
        "tags" : [ "Anomaly detection - Database services" ],
        "summary" : "Gets the configuration of anomaly detection for database services",
        "operationId" : "getDatabaseServiceAnomalyDetectionConfig",
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DatabaseAnomalyDetectionConfig"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`ReadConfig` (Read configuration)" ]
      },
      "put" : {
        "tags" : [ "Anomaly detection - Database services" ],
        "summary" : "Updates the configuration of anomaly detection for database services",
        "operationId" : "updateDatabaseServiceAnomalyDetectionConfig",
        "requestBody" : {
          "description" : "The JSON body of the request. Contains parameters of the database service anomaly detection configuration.",
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/DatabaseAnomalyDetectionConfig"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Success. Configuration has been updated. Response doesn't have a body."
          },
          "400" : {
            "description" : "Failed. The input is invalid",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`WriteConfig` (Write configuration)" ]
      }
    },
    "/anomalyDetection/databaseServices/validator" : {
      "post" : {
        "tags" : [ "Anomaly detection - Database services" ],
        "summary" : "Validates the payload for the `PUT /anomalyDetection/databaseServices` request",
        "operationId" : "validateDatabaseServiceAnomalyDetectionConfig",
        "requestBody" : {
          "description" : "The JSON body of the request. Contains parameters of the database service anomaly detection configuration.",
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/DatabaseAnomalyDetectionConfig"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Validated. The submitted configuration is valid. Response doesn't have a body."
          },
          "400" : {
            "description" : "Failed. The input is invalid",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`WriteConfig` (Write configuration)" ]
      }
    },
    "/anomalyDetection/diskEvents" : {
      "get" : {
        "tags" : [ "Anomaly detection - Disk events" ],
        "summary" : "Lists all existing disk event rules | maturity=EARLY_ADOPTER",
        "operationId" : "listDiskEventConfigs",
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StubList"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-maturity" : "EARLY_ADOPTER",
        "x-token-scopes" : [ "`ReadConfig` (Read configuration)" ]
      },
      "post" : {
        "tags" : [ "Anomaly detection - Disk events" ],
        "summary" : "Creates a new disk event rule | maturity=EARLY_ADOPTER",
        "description" : "The body must not provide an ID. An ID is assigned automatically by the Dynatrace server.",
        "operationId" : "createDiskEventConfig",
        "requestBody" : {
          "description" : "JSON body of the request. Contains parameters of the new disk event rule.",
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/DiskEventAnomalyDetectionConfig"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Success. The new disk event rule has been created. The ID of the new disk event rule is returned.",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EntityShortRepresentation"
                }
              }
            }
          },
          "400" : {
            "description" : "Failed. The input is invalid",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-maturity" : "EARLY_ADOPTER",
        "x-token-scopes" : [ "`WriteConfig` (Write configuration)" ]
      }
    },
    "/anomalyDetection/diskEvents/{id}" : {
      "get" : {
        "tags" : [ "Anomaly detection - Disk events" ],
        "summary" : "Gets the properties of the specified disk event rule | maturity=EARLY_ADOPTER",
        "operationId" : "getDiskEventConfig",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the required disk event rule.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DiskEventAnomalyDetectionConfig"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-maturity" : "EARLY_ADOPTER",
        "x-token-scopes" : [ "`ReadConfig` (Read configuration)" ]
      },
      "put" : {
        "tags" : [ "Anomaly detection - Disk events" ],
        "summary" : "Updates or creates a disk event rule | maturity=EARLY_ADOPTER",
        "description" : "If a disk event rule with the specified ID does not exist, a new rule is created.",
        "operationId" : "updateDiskEventConfig",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the disk event rule to be updated.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "JSON body of the request. Contains updated disk event rule parameters.",
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/DiskEventAnomalyDetectionConfig"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Success. The new disk event rule has been created. The ID of the new disk event rule is returned.",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EntityShortRepresentation"
                }
              }
            }
          },
          "204" : {
            "description" : "Success. The disk event rule has been updated. Response doesn't have a body."
          },
          "403" : {
            "description" : "Failed. The specified ID is reserved for internal use."
          },
          "400" : {
            "description" : "Failed. The input is invalid",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-maturity" : "EARLY_ADOPTER",
        "x-token-scopes" : [ "`WriteConfig` (Write configuration)" ]
      },
      "delete" : {
        "tags" : [ "Anomaly detection - Disk events" ],
        "summary" : "Deletes the specified disk event rule | maturity=EARLY_ADOPTER",
        "operationId" : "deleteDiskEventConfig",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the disk event rule to be deleted.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Success. The disk event rule has been deleted. Response doesn't have a body."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-maturity" : "EARLY_ADOPTER",
        "x-token-scopes" : [ "`WriteConfig` (Write configuration)" ]
      }
    },
    "/anomalyDetection/diskEvents/validator" : {
      "post" : {
        "tags" : [ "Anomaly detection - Disk events" ],
        "summary" : "Validates the payload for the `POST /anomalyDetection/diskEvents` request | maturity=EARLY_ADOPTER",
        "operationId" : "validateCreateDiskEventConfig",
        "requestBody" : {
          "description" : "JSON body of the request. Contains the disk event rule to be validated.",
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/DiskEventAnomalyDetectionConfig"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Validated. The submitted disk event rule is valid. Response doesn't have a body."
          },
          "400" : {
            "description" : "Failed. The input is invalid",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-maturity" : "EARLY_ADOPTER",
        "x-token-scopes" : [ "`WriteConfig` (Write configuration)" ]
      }
    },
    "/anomalyDetection/diskEvents/{id}/validator" : {
      "post" : {
        "tags" : [ "Anomaly detection - Disk events" ],
        "summary" : "Validates the payload for the `PUT /anomalyDetection/diskEvents/{id}` request | maturity=EARLY_ADOPTER",
        "operationId" : "validateUpdateDiskEventConfig",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the disk event rule to be validated.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "JSON body of the request. Contains the disk event rule to be validated.",
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/DiskEventAnomalyDetectionConfig"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Validated. The submitted disk event rule is valid. Response doesn't have a body."
          },
          "403" : {
            "description" : "Failed. The specified ID is reserved for internal use."
          },
          "400" : {
            "description" : "Failed. The input is invalid",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-maturity" : "EARLY_ADOPTER",
        "x-token-scopes" : [ "`WriteConfig` (Write configuration)" ]
      }
    },
    "/anomalyDetection/hosts" : {
      "get" : {
        "tags" : [ "Anomaly detection - Hosts" ],
        "summary" : "Gets the configuration of anomaly detection for hosts",
        "operationId" : "getHostEventsConfig",
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HostsAnomalyDetectionConfig"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`ReadConfig` (Read configuration)" ]
      },
      "put" : {
        "tags" : [ "Anomaly detection - Hosts" ],
        "summary" : "Updates the configuration of anomaly detection for hosts",
        "operationId" : "updateHostEventsConfig",
        "requestBody" : {
          "description" : "The JSON body of the request. Contains parameters of the host anomaly detection configuration.",
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/HostsAnomalyDetectionConfig"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Success. Configuration has been updated. Response doesn't have a body."
          },
          "400" : {
            "description" : "Failed. The input is invalid",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`WriteConfig` (Write configuration)" ]
      }
    },
    "/anomalyDetection/hosts/validator" : {
      "post" : {
        "tags" : [ "Anomaly detection - Hosts" ],
        "summary" : "Validates the configuration of anomaly detection for hosts for the `PUT /anomalyDetection/hosts` request",
        "operationId" : "validateHostEventsConfig",
        "requestBody" : {
          "description" : "The JSON body of the request. Contains parameters of the host anomaly detection configuration.",
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/HostsAnomalyDetectionConfig"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Validated. The submitted configuration is valid. Response doesn't have a body."
          },
          "400" : {
            "description" : "Failed. The input is invalid",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`WriteConfig` (Write configuration)" ]
      }
    },
    "/anomalyDetection/metricEvents" : {
      "get" : {
        "tags" : [ "Anomaly detection - Metric events" ],
        "summary" : "Lists all configured metric events",
        "operationId" : "listMetricEventConfigs",
        "parameters" : [ {
          "name" : "includeEntityFilterMetricEvents",
          "in" : "query",
          "description" : "Flag to include metric events with associated entities to the response. \n\n Metric events with **entity** filters aren't compatible across environments. If set to `false`, metric events with entity filters will be removed.",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StubList"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`ReadConfig` (Read configuration)" ]
      },
      "post" : {
        "tags" : [ "Anomaly detection - Metric events" ],
        "summary" : "Creates a new metric event",
        "description" : "The response contains the ID of the newly created metric event.",
        "operationId" : "createMetricEvent",
        "requestBody" : {
          "description" : "The JSON body of the request. Contains parameters of the new metric event.",
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/MetricEvent"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Success. The metric event has been created. The response contains the ID and name of the newly created metric event",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EntityShortRepresentation"
                }
              }
            }
          },
          "400" : {
            "description" : "Failed. The input is invalid.",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`WriteConfig` (Write configuration)" ]
      }
    },
    "/anomalyDetection/metricEvents/{id}" : {
      "get" : {
        "tags" : [ "Anomaly detection - Metric events" ],
        "summary" : "Gets the properties of the specified metric event",
        "operationId" : "getMetricEventConfig",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the required metric event.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MetricEvent"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`ReadConfig` (Read configuration)" ]
      },
      "put" : {
        "tags" : [ "Anomaly detection - Metric events" ],
        "summary" : "Updates an existing metric event or creates a new one",
        "description" : "If the metric event with the specified ID does not exist, a new metric event will be created. \n\n You can't update the **type** of the metric event.",
        "operationId" : "updateMetricEvent",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the metric event to be updated.\n\n If you also set the ID in the body, it must match this ID.",
          "required" : true,
          "schema" : {
            "maxLength" : 256,
            "minLength" : 0,
            "pattern" : "^[a-zA-Z0-9\\.\\-_:%]+$",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The JSON body of the request. Contains updated parameters of the metric event.",
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/MetricEvent"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Success. The new metric event has been created. The response contains the ID of the newly created metric event",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EntityShortRepresentation"
                }
              }
            }
          },
          "204" : {
            "description" : "Success. The metric event has been updated. The response is empty."
          },
          "400" : {
            "description" : "Failed. The input is invalid.",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`WriteConfig` (Write configuration)" ]
      },
      "delete" : {
        "tags" : [ "Anomaly detection - Metric events" ],
        "summary" : "Deletes the specified metric event",
        "description" : "You can't delete events created by plugins.",
        "operationId" : "deleteMetricEvent",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the metric event to be deleted.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Deleted. Response doesn't have a body."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`WriteConfig` (Write configuration)" ]
      }
    },
    "/anomalyDetection/metricEvents/validator" : {
      "post" : {
        "tags" : [ "Anomaly detection - Metric events" ],
        "summary" : "Validates the payload for the `POST /anomalyDetection/metricEvents` request",
        "operationId" : "validateCreateMetricEvent",
        "requestBody" : {
          "description" : "The JSON body of the request. Contains the metric event configuration to validate.",
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/MetricEvent"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Validated. The submitted configuration is valid. Response doesn't have a body."
          },
          "400" : {
            "description" : "Failed. The input is invalid.",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`WriteConfig` (Write configuration)" ]
      }
    },
    "/anomalyDetection/metricEvents/{id}/validator" : {
      "post" : {
        "tags" : [ "Anomaly detection - Metric events" ],
        "summary" : "Validates the payload for the `PUT /anomalyDetection/metricEvents/{id}` request",
        "operationId" : "validateUpdateMetricEvent",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the metric event to be validated.",
          "required" : true,
          "schema" : {
            "maxLength" : 256,
            "minLength" : 0,
            "pattern" : "^[a-zA-Z0-9\\.\\-_:%]+$",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The JSON body of the request. Contains the metric event configuration to validate.",
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/MetricEvent"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Validated. The submitted configuration is valid. Response doesn't have a body."
          },
          "400" : {
            "description" : "Failed. The input is invalid.",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`WriteConfig` (Write configuration)" ]
      }
    },
    "/anomalyDetection/processGroups/{id}" : {
      "get" : {
        "tags" : [ "Anomaly detection - Process groups" ],
        "summary" : "Gets the configuration of anomaly detection for the specified process group | maturity=EARLY_ADOPTER",
        "operationId" : "getLocalAvailabilityConfig",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The Dynatrace entity ID of the required process group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AnomalyDetectionPG"
                }
              }
            }
          },
          "400" : {
            "description" : "Failed. The input is invalid.",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404" : {
            "description" : "Process group doesn't exist",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-maturity" : "EARLY_ADOPTER",
        "x-token-scopes" : [ "`ReadConfig` (Read configuration)" ]
      },
      "put" : {
        "tags" : [ "Anomaly detection - Process groups" ],
        "summary" : "Updates the configuration of anomaly detection for the specified process group | maturity=EARLY_ADOPTER",
        "operationId" : "setLocalAvailabilityConfig",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The Dynatrace entity ID of the required process group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The JSON body of the request. Contains parameters of anomaly detection for a process group.",
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/AnomalyDetectionPG"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Success. The configuration has been updated. Response doesn't have a body."
          },
          "400" : {
            "description" : "Failed. The input is invalid.",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-maturity" : "EARLY_ADOPTER",
        "x-token-scopes" : [ "`WriteConfig` (Write configuration)" ]
      },
      "delete" : {
        "tags" : [ "Anomaly detection - Process groups" ],
        "summary" : "Switches off anomaly detection for the specified process group | maturity=EARLY_ADOPTER",
        "operationId" : "deleteLocalAvailabilityConfig",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The Dynatrace entity ID of the required process group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Success. The configuration has been updated. Response doesn't have a body."
          },
          "400" : {
            "description" : "Failed. The input is invalid.",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404" : {
            "description" : "Process group doesn't exist",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-maturity" : "EARLY_ADOPTER",
        "x-token-scopes" : [ "`WriteConfig` (Write configuration)" ]
      }
    },
    "/anomalyDetection/processGroups/{id}/validator" : {
      "post" : {
        "tags" : [ "Anomaly detection - Process groups" ],
        "summary" : "Validates the payload for the `PUT /anomalyDetection/processGroups/{id}` request | maturity=EARLY_ADOPTER",
        "operationId" : "validateLocalPgAvailabilityAlertingEvent",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The Dynatrace entity ID of the required process group.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The JSON body of the request. Contains anomaly detection configuration to be validated.",
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/AnomalyDetectionPG"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Validated. The submitted configuration is valid. Response doesn't have a body."
          },
          "400" : {
            "description" : "Failed. The input is invalid.",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-maturity" : "EARLY_ADOPTER",
        "x-token-scopes" : [ "`WriteConfig` (Write configuration)" ]
      }
    },
    "/anomalyDetection/services" : {
      "get" : {
        "tags" : [ "Anomaly detection - Services" ],
        "summary" : "Gets the service anomaly detection configuration",
        "operationId" : "getServiceAnomalyDetectionConfig",
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServiceAnomalyDetectionConfig"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`ReadConfig` (Read configuration)" ]
      },
      "put" : {
        "tags" : [ "Anomaly detection - Services" ],
        "summary" : "Updates the service anomaly detection configuration",
        "operationId" : "updateServiceAnomalyDetectionConfig",
        "requestBody" : {
          "description" : "The JSON body of the request. Contains parameters of the service anomaly detection configuration.",
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/ServiceAnomalyDetectionConfig"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Success. Configuration has been updated. Response doesn't have a body."
          },
          "400" : {
            "description" : "Failed. The input is invalid",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`WriteConfig` (Write configuration)" ]
      }
    },
    "/anomalyDetection/services/validator" : {
      "post" : {
        "tags" : [ "Anomaly detection - Services" ],
        "summary" : "Validates the payload for the `PUT /anomalyDetection/services` request",
        "operationId" : "validateServiceAnomalyDetectionConfig",
        "requestBody" : {
          "description" : "The JSON body of the request. Contains parameters of the service anomaly detection configuration.",
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/ServiceAnomalyDetectionConfig"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Validated. The submitted configuration is valid. Response doesn't have a body."
          },
          "400" : {
            "description" : "Failed. The input is invalid",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`WriteConfig` (Write configuration)" ]
      }
    },
    "/anomalyDetection/vmware" : {
      "get" : {
        "tags" : [ "Anomaly detection - VMware" ],
        "summary" : "Gets the configuration of anomaly detection for VMware",
        "operationId" : "getVMwareAnomalyDetectionConfig",
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VMwareAnomalyDetectionConfig"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`ReadConfig` (Read configuration)" ]
      },
      "put" : {
        "tags" : [ "Anomaly detection - VMware" ],
        "summary" : "Updates the configuration of anomaly detection for VMware",
        "operationId" : "updateVMwareAnomalyDetectionConfig",
        "requestBody" : {
          "description" : "JSON body of the request, containing parameters of the VMware anomaly detection configuration.",
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/VMwareAnomalyDetectionConfig"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Success. Configuration has been updated. Response doesn't have a body."
          },
          "400" : {
            "description" : "Failed. The input is invalid.",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`WriteConfig` (Write configuration)" ]
      }
    },
    "/anomalyDetection/vmware/validator" : {
      "post" : {
        "tags" : [ "Anomaly detection - VMware" ],
        "summary" : "Validates the configuration of anomaly detection for VMware for the `PUT /anomalyDetection/vmware` request",
        "operationId" : "validateVMwareAnomalyDetectionConfig",
        "requestBody" : {
          "description" : "JSON body of the request, containing parameters of the VMware anomaly detection configuration.",
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/VMwareAnomalyDetectionConfig"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Validated. The submitted configuration is valid. Response doesn't have a body."
          },
          "400" : {
            "description" : "Failed. The input is invalid.",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`WriteConfig` (Write configuration)" ]
      }
    },
    "/applications/mobile" : {
      "get" : {
        "tags" : [ "RUM - Mobile and custom application configuration" ],
        "summary" : "Lists all existing mobile and custom applications",
        "operationId" : "listMobileApplicationConfigs",
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StubList"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`ReadConfig` (Read configuration)" ]
      },
      "post" : {
        "tags" : [ "RUM - Mobile and custom application configuration" ],
        "summary" : "Creates a new mobile or custom application",
        "description" : "The body must not provide an identifier. An identifier is assigned automatically by Dynatrace. \n\nYou can, however, provide your own applicationId. If you don't specify an applicationId, it is assigned automatically by Dynatrace.",
        "operationId" : "createMobileApplicationConfig",
        "requestBody" : {
          "description" : "The JSON body of the request. Contains the parameters of the new mobile or custom application.",
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/NewMobileCustomAppConfig"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Success. The application has been created. The response contains the identifier and name of the new application.",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EntityShortRepresentation"
                }
              }
            }
          },
          "400" : {
            "description" : "Failed. The input is invalid.",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409" : {
            "description" : "Failed. The applicationId is already used by another application.",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`WriteConfig` (Write configuration)" ]
      }
    },
    "/applications/mobile/{id}" : {
      "get" : {
        "tags" : [ "RUM - Mobile and custom application configuration" ],
        "summary" : "Gets the configuration of the specified mobile or custom application",
        "operationId" : "getMobileApplicationConfig",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the required mobile or custom application.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MobileCustomAppConfig"
                }
              }
            }
          },
          "404" : {
            "description" : "Failed. The specified entity doesn't exist."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`ReadConfig` (Read configuration)" ]
      },
      "put" : {
        "tags" : [ "RUM - Mobile and custom application configuration" ],
        "summary" : "Updates the configuration of the specified mobile or custom application",
        "description" : "You can't change applicationId and applicationType with this request.\n\nAll other values must be included in the body, depending on the applicationType.",
        "operationId" : "updateMobileApplicationConfig",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the application to be updated.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The JSON body of the request. Contains updated configuration of the mobile or custom application. \n\nDo not set the identifier in the body.",
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/MobileCustomAppConfig"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Success. The application has been updated. Response doesn't have a body."
          },
          "404" : {
            "description" : "Failed. The specified entity doesn't exist."
          },
          "400" : {
            "description" : "Failed. The input is invalid.",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`WriteConfig` (Write configuration)" ]
      },
      "delete" : {
        "tags" : [ "RUM - Mobile and custom application configuration" ],
        "summary" : "Deletes the specified mobile or custom application",
        "operationId" : "deleteMobileApplicationConfig",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the application to be deleted.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Success. The application has been deleted. The response doesn't have a body."
          },
          "404" : {
            "description" : "Failed. The specified entity doesn't exist."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`WriteConfig` (Write configuration)" ]
      }
    },
    "/applications/mobile/validator" : {
      "post" : {
        "tags" : [ "RUM - Mobile and custom application configuration" ],
        "summary" : "Validates the payload for the `POST /applications/mobile` request",
        "operationId" : "validateCreateMobileApplicationConfig",
        "requestBody" : {
          "description" : "The JSON body of the request. Contains the mobile or custom application configuration to be validated.",
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/NewMobileCustomAppConfig"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Success. The submitted configuration is valid. Response doesn't have a body."
          },
          "400" : {
            "description" : "Failed. The input is invalid.",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`WriteConfig` (Write configuration)" ]
      }
    },
    "/applications/mobile/{id}/validator" : {
      "post" : {
        "tags" : [ "RUM - Mobile and custom application configuration" ],
        "summary" : "Validates the payload for the `PUT /applications/mobile/{id}` request.",
        "operationId" : "validateUpdateMobileApplicationConfig",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the mobile or custom application to be validated.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The JSON body of the request. Contains the mobile or custom application configuration to be validated.",
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/MobileCustomAppConfig"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Success. The submitted configuration is valid. Response doesn't have a body."
          },
          "400" : {
            "description" : "Failed. The input is invalid.",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`WriteConfig` (Write configuration)" ]
      }
    },
    "/applications/mobile/{applicationId}/userActionAndSessionProperties" : {
      "get" : {
        "tags" : [ "RUM - Mobile and custom application configuration" ],
        "summary" : "Lists all mobile session and user action properties for the specified application",
        "operationId" : "listSessionProperties",
        "parameters" : [ {
          "name" : "applicationId",
          "in" : "path",
          "description" : "The ID of the required application.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MobileSessionUserActionPropertyList"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`ReadConfig` (Read configuration)" ]
      },
      "post" : {
        "tags" : [ "RUM - Mobile and custom application configuration" ],
        "summary" : "Creates a new mobile session or user action property for the specified application",
        "operationId" : "createSessionProperty",
        "parameters" : [ {
          "name" : "applicationId",
          "in" : "path",
          "description" : "The ID of the required application.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The JSON body of the request. Contains the configuration of the property.",
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/MobileSessionUserActionProperty"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Success. The property has been created. The response contains the ID of the new property.",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MobileSessionUserActionPropertyShort"
                }
              }
            }
          },
          "400" : {
            "description" : "Failed. The input is invalid.",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`WriteConfig` (Write configuration)" ]
      }
    },
    "/applications/mobile/{applicationId}/userActionAndSessionProperties/{key}" : {
      "get" : {
        "tags" : [ "RUM - Mobile and custom application configuration" ],
        "summary" : "Gets the specified mobile session or user action property of an application",
        "operationId" : "getSessionProperty",
        "parameters" : [ {
          "name" : "applicationId",
          "in" : "path",
          "description" : "The ID of the required application.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "key",
          "in" : "path",
          "description" : "The key of the required mobile session or user action property.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MobileSessionUserActionProperty"
                }
              }
            }
          },
          "404" : {
            "description" : "Failed. The specified entity doesn't exist."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`ReadConfig` (Read configuration)" ]
      },
      "put" : {
        "tags" : [ "RUM - Mobile and custom application configuration" ],
        "summary" : "Updates the specified mobile session or user action property for an application",
        "description" : "If the property with the specified ID does not exist, a new property is created.",
        "operationId" : "updateSessionProperty",
        "parameters" : [ {
          "name" : "applicationId",
          "in" : "path",
          "description" : "The ID of the required application.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "key",
          "in" : "path",
          "description" : "The key of the required mobile session or user action property.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The JSON body of the request. Contains the configuration of the property.",
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/MobileSessionUserActionPropertyUpd"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Success. The property has been created. The response contains the ID of the new property.",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MobileSessionUserActionPropertyShort"
                }
              }
            }
          },
          "204" : {
            "description" : "Success. The property has been updated. The response doesn't have a body."
          },
          "400" : {
            "description" : "Failed. The input is invalid.",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`WriteConfig` (Write configuration)" ]
      },
      "delete" : {
        "tags" : [ "RUM - Mobile and custom application configuration" ],
        "summary" : "Deletes the specified mobile session or user action property for an application",
        "operationId" : "deleteSessionProperty",
        "parameters" : [ {
          "name" : "applicationId",
          "in" : "path",
          "description" : "The ID of the required application.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "key",
          "in" : "path",
          "description" : "The key of the required mobile session or user action property.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Success. The property has been deleted. The response doesn't have a body."
          },
          "404" : {
            "description" : "Failed. The specified entity doesn't exist."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`WriteConfig` (Write configuration)" ]
      }
    },
    "/applications/mobile/{applicationId}/userActionAndSessionProperties/validator" : {
      "post" : {
        "tags" : [ "RUM - Mobile and custom application configuration" ],
        "summary" : "Validates the payload for the `POST /applications/mobile/{applicationId}/userActionAndSessionProperties` request",
        "operationId" : "validateCreateSessionProperty",
        "parameters" : [ {
          "name" : "applicationId",
          "in" : "path",
          "description" : "The ID of the required application.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The JSON body of the request. Contains the configuration of the property to be validated.",
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/MobileSessionUserActionProperty"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Success. The submitted configuration is valid. Response doesn't have a body."
          },
          "400" : {
            "description" : "Failed. The input is invalid.",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`WriteConfig` (Write configuration)" ]
      }
    },
    "/applications/mobile/{applicationId}/userActionAndSessionProperties/{key}/validator" : {
      "post" : {
        "tags" : [ "RUM - Mobile and custom application configuration" ],
        "summary" : "Validates the payload for the `PUT /applications/mobile/{applicationId}/userActionAndSessionProperties/{key}` request",
        "operationId" : "validateUpdateSessionProperty",
        "parameters" : [ {
          "name" : "applicationId",
          "in" : "path",
          "description" : "The ID of the required application.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "key",
          "in" : "path",
          "description" : "The key of the required mobile session or user action property.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The JSON body of the request. Contains the configuration of the property to be validated.",
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/MobileSessionUserActionPropertyUpd"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Success. The submitted configuration is valid. Response doesn't have a body."
          },
          "400" : {
            "description" : "Failed. The input is invalid.",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`WriteConfig` (Write configuration)" ]
      }
    },
    "/applications/mobile/{applicationId}/keyUserActions/{actionName}" : {
      "post" : {
        "tags" : [ "RUM - Mobile and custom application configuration" ],
        "summary" : "Marks the user action as a key user action in the specified application",
        "operationId" : "createMobileKeyUserAction",
        "parameters" : [ {
          "name" : "applicationId",
          "in" : "path",
          "description" : "The ID of the required application.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "actionName",
          "in" : "path",
          "description" : "The name of the user action to be marked as a key user action.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success. The action has been marked as a key user action. The response contains its name.",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KeyUserActionMobile"
                }
              }
            }
          },
          "404" : {
            "description" : "Failed. The specified entity doesn't exist."
          },
          "409" : {
            "description" : "Failed. The max number of key user actions has been reached for the application."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`WriteConfig` (Write configuration)" ]
      },
      "delete" : {
        "tags" : [ "RUM - Mobile and custom application configuration" ],
        "summary" : "Removes the specified user action from the list of key user actions in the specified application",
        "operationId" : "deleteMobileKeyUserAction",
        "parameters" : [ {
          "name" : "applicationId",
          "in" : "path",
          "description" : "The ID of the required application.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "actionName",
          "in" : "path",
          "description" : "The ID of the user action to be removed from the key user actions list.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Success. The user action has been removed from the list of key user actions. The response doesn't have a body."
          },
          "404" : {
            "description" : "Failed. The specified entity doesn't exist."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`WriteConfig` (Write configuration)" ]
      }
    },
    "/applications/mobile/{applicationId}/keyUserActions" : {
      "get" : {
        "tags" : [ "RUM - Mobile and custom application configuration" ],
        "summary" : "Gets the list of key user actions in the specified application",
        "operationId" : "listMobileKeyUserActions",
        "parameters" : [ {
          "name" : "applicationId",
          "in" : "path",
          "description" : "The ID of the required application.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KeyUserActionMobileList"
                }
              }
            }
          },
          "404" : {
            "description" : "Failed. The specified entity doesn't exist."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`ReadConfig` (Read configuration)" ]
      }
    },
    "/applications/web/{id}/keyUserActions" : {
      "get" : {
        "tags" : [ "RUM - Web application configuration" ],
        "summary" : "Gets the list of key user actions in the specified web application",
        "operationId" : "listKeyUserActions",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the required web application.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KeyUserActionList"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`ReadConfig` (Read configuration)" ]
      },
      "post" : {
        "tags" : [ "RUM - Web application configuration" ],
        "summary" : "Marks the user action as a key user action in the specified web application",
        "operationId" : "createKeyUserAction",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the required web application.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The JSON body of the request. Contains the action to be marked as a key user action.",
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/KeyUserAction"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Success. The action has been marked as a key user action. The response contains its ID.",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EntityShortRepresentation"
                }
              }
            }
          },
          "400" : {
            "description" : "Failed. The input is invalid.",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`WriteConfig` (Write configuration)" ]
      }
    },
    "/applications/web/default" : {
      "get" : {
        "tags" : [ "RUM - Web application configuration" ],
        "summary" : "Gets the configuration of the default web application",
        "description" : "Default application is pre-configured in your Dynatrace environment. By default all traffic goes to this application. \n\nAfter you configure your own applications, all the traffic, which doesn't fit to any of your applications, goes to the default one.",
        "operationId" : "getDefaultApplication",
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WebApplicationConfig"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`ReadConfig` (Read configuration)" ]
      },
      "put" : {
        "tags" : [ "RUM - Web application configuration" ],
        "summary" : "Updates the configuration of the default web application",
        "description" : "Default application is pre-configured in your Dynatrace environment. By default all traffic goes to this application. \n\nAfter you configure your own applications, all the traffic, which doesn't fit to any of your applications, goes to the default one.",
        "operationId" : "createOrUpdateDefaultConfiguration",
        "requestBody" : {
          "description" : "JSON body of the request, containing the new parameters of the default web application.",
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/WebApplicationConfig"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Success. Configuration has been updated. Response doesn't have a body."
          },
          "400" : {
            "description" : "Failed. The input is invalid.",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`WriteConfig` (Write configuration)" ]
      }
    },
    "/applications/web" : {
      "get" : {
        "tags" : [ "RUM - Web application configuration" ],
        "summary" : "Lists all existing web applications",
        "operationId" : "listWebApplicationConfigs",
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StubList"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`ReadConfig` (Read configuration)" ]
      },
      "post" : {
        "tags" : [ "RUM - Web application configuration" ],
        "summary" : "Creates a new web application",
        "description" : "The body must not provide an ID as that will be automatically assigned by Dynatrace server.",
        "operationId" : "createWebApplicationConfig",
        "requestBody" : {
          "description" : "JSON body of the request, containing parameters of the new web application configuraiton.",
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/WebApplicationConfig"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Success. The response body contains the ID and name of the new web application.",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EntityShortRepresentation"
                }
              }
            }
          },
          "400" : {
            "description" : "Failed. The input is invalid.",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`WriteConfig` (Write configuration)" ]
      }
    },
    "/applications/web/{id}/keyUserActions/{keyUserActionId}" : {
      "delete" : {
        "tags" : [ "RUM - Web application configuration" ],
        "summary" : "Removes the specified user action from the list of key user actions in the specified web application",
        "operationId" : "deleteKeyUserAction",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the required web application.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "keyUserActionId",
          "in" : "path",
          "description" : "The ID of the user action to be removed from the key user actions list.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Success. The user action has been removed from the list of key user actions. The response doesn't have a body."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`WriteConfig` (Write configuration)" ]
      }
    },
    "/applications/web/{id}" : {
      "get" : {
        "tags" : [ "RUM - Web application configuration" ],
        "summary" : "Gets the configuration of the specified web application",
        "operationId" : "getWebApplicationConfig",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the requested web application.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WebApplicationConfig"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`ReadConfig` (Read configuration)" ]
      },
      "put" : {
        "tags" : [ "RUM - Web application configuration" ],
        "summary" : "Updates the configuration of the specified web application or creates a new one",
        "description" : "If the application with the specified ID does not exist, a new application will be created.",
        "operationId" : "updateWebApplicationConfig",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the web application to update. \n\nIf you set the ID in the body as well, it must match this ID.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "JSON body of the request, containing updated configuration of the web application.",
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/WebApplicationConfig"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Success. The new configuration has been created. The response body contains the ID and name of the new web application.",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EntityShortRepresentation"
                }
              }
            }
          },
          "204" : {
            "description" : "Success. Configuration has been updated. Response doesn't have a body."
          },
          "400" : {
            "description" : "Failed. The input is invalid.",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`WriteConfig` (Write configuration)" ]
      },
      "delete" : {
        "tags" : [ "RUM - Web application configuration" ],
        "summary" : "Deletes the specified web application",
        "operationId" : "deleteWebApplicationConfig",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the web application to delete.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Success. The application has been deleted. The response does not have a body."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "x-token-scopes" : [ "`WriteConfig` (Write configuration)" ]
      }
    },
    "/applications/web/{id}/errorRules" : {
      "get" : {
        "tags" : [ "RUM - Web application configuration" ],
        "summary" : "Gets the configuration of error rules in the specified application",
        "operationId" : "getApplicationErrorConfig",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the required web application.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationErrorRules"
                }
              }
            }
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
[...]
