{
  "openapi" : "3.0.1",
  "info" : {
    "description" : "Documentation of the Dynatrace Configuration API. To read about use-cases and examples, see [Dynatrace Documentation](https://dt-url.net/4u43kxw).\n\nNotes about compatibility:\n* Operations marked as early adopter or preview may be changed in non-compatible ways, although we try to avoid this.\n* We may add new enum constants without incrementing the API version; thus, clients need to handle unknown enum constants gracefully.",
    "title" : "Dynatrace Configuration API",
    "version" : "1.0"
  },
  "servers" : [ {
    "url" : "https://abcd1234.live.dynatrace.com/api/config/v1",
    "variables" : { }
  } ],
  "tags" : [ {
    "description" : "Manage application detection rules",
    "name" : "RUM - Application detection rules"
  }, {
    "description" : "Manage configuration of host detection headers",
    "name" : "RUM - Application detection rules - Host detection"
  }, {
    "description" : "Manage the IP address mapping rules for geographic regions",
    "name" : "RUM - Geographic regions - IP address mapping"
  }, {
    "description" : "Manage the list of custom client IP headers",
    "name" : "RUM - Geographic regions - custom client IP headers"
  }, {
    "description" : "Manage content resource rules",
    "name" : "RUM - Content resources"
  }, {
    "description" : "Manage AWS credentials and monitoring options",
    "name" : "AWS credentials configuration"
  }, {
    "description" : "Manage Azure app-level credentials and monitoring options",
    "name" : "Azure credentials configuration"
  }, {
    "description" : "Manage web applications",
    "name" : "RUM - Web application configuration"
  }, {
    "description" : "Manage allowed beacon origins for CORS requests",
    "name" : "RUM - Allowed beacon origins for CORS"
  }, {
    "description" : "Manage mobile and custom applications",
    "name" : "RUM - Mobile and custom application configuration"
  }, {
    "description" : "Manage request attributes",
    "name" : "Service - Request attributes"
  }, {
    "description" : "Manage global data privacy and security settings",
    "name" : "Data privacy and security"
  }, {
    "description" : "Manage anomaly detection configuration for hosts",
    "name" : "Anomaly detection - Hosts"
  }, {
    "description" : "Manage anomaly detection configuration for services",
    "name" : "Anomaly detection - Services"
  }, {
    "description" : "Manage anomaly detection configuration for database services",
    "name" : "Anomaly detection - Database services"
  }, {
    "description" : "Manage anomaly detection configuration for applications",
    "name" : "Anomaly detection - Applications"
  }, {
    "description" : "Manage anomaly detection configuration for disk events",
    "name" : "Anomaly detection - Disk events"
  }, {
    "description" : "Manage anomaly detection configuration for AWS",
    "name" : "Anomaly detection - AWS"
  }, {
    "description" : "Manage anomaly detection configuration for VMware",
    "name" : "Anomaly detection - VMware"
  }, {
    "description" : "Deprecated. Use the [Settings endpoint](index.jsp?urls.primaryName=Environment%20API%20v2#/Settings%20-%20Objects) with schemaId `builtin:anomaly-detection.metric-events`.",
    "name" : "Anomaly detection - Metric events"
  }, {
    "description" : "Manage custom services",
    "name" : "Service - Custom services"
  }, {
    "description" : "Manage anomaly detection configuration for process groups",
    "name" : "Anomaly detection - Process groups"
  }, {
    "description" : "Manage request naming rules",
    "name" : "Service - Request naming"
  }, {
    "description" : "Deprecated. Use the [Settings endpoint](index.jsp?urls.primaryName=Environment%20API%20v2#/Settings%20-%20Objects) with schemaId `builtin:tags.auto-tagging`.",
    "name" : "Automatically applied tags"
  }, {
    "description" : "Deprecated. Use the [Settings endpoint](index.jsp?urls.primaryName=Environment%20API%20v2#/Settings%20-%20Objects) with schemaId `builtin:management-zones`.",
    "name" : "Management zones"
  }, {
    "description" : "Deprecated. Use the [Settings endpoint](index.jsp?urls.primaryName=Environment%20API%20v2#/Settings%20-%20Objects) with schemaId `builtin:alerting.maintenance-window`.",
    "name" : "Maintenance windows"
  }, {
    "description" : "Manage configuration of OneAgent on a host",
    "name" : "OneAgent on a host"
  }, {
    "description" : "Manage configuration of OneAgent in a host group",
    "name" : "OneAgent in a host group"
  }, {
    "description" : "Manage configuration of OneAgents for the environment",
    "name" : "OneAgent - Environment-wide configuration"
  }, {
    "description" : "Manage Cloud Foundry foundation credentials",
    "name" : "Cloud Foundry credentials configuration"
  }, {
    "description" : "Manage metric subscriptions for services",
    "name" : "Calculated metrics - Services"
  }, {
    "description" : "Manage calculated metrics for web applications",
    "name" : "Calculated metrics - Web applications"
  }, {
    "description" : "Manage calculated metrics for synthetic monitors",
    "name" : "Calculated metrics - Synthetic"
  }, {
    "description" : "Manage calculated metrics for mobile & custom apps",
    "name" : "Calculated metrics - Mobile & custom applications"
  }, {
    "description" : "Manage calculated metrics for Log Monitoring",
    "name" : "Calculated metrics - Log monitoring"
  }, {
    "description" : "Manage full web service detection rules",
    "name" : "Service - Detection full web service"
  }, {
    "description" : "Manage full web request service detection rules",
    "name" : "Service - Detection full web request"
  }, {
    "description" : "Manage opaque and external web service detection rules",
    "name" : "Service - Detection opaque and external web service"
  }, {
    "description" : "Manage opaque and external web request service detection rules",
    "name" : "Service - Detection opaque and external web request"
  }, {
    "description" : "Manage reports",
    "name" : "Reports"
  }, {
    "description" : "Manage dashboards",
    "name" : "Dashboards"
  }, {
    "description" : "Manage Kubernetes cluster credentials",
    "name" : "Kubernetes credentials configuration"
  }, {
    "description" : "Manage plugins and their configurations",
    "name" : "Plugins"
  }, {
    "description" : "Manage extensions and their configurations",
    "name" : "Extensions"
  }, {
    "description" : "Deprecated. Use the [Settings endpoint](index.jsp?urls.primaryName=Environment%20API%20v2#/Settings%20-%20Objects) with schemaId `builtin:anomaly-detection.frequent-issues`.",
    "name" : "Frequent issue detection"
  }, {
    "description" : "Deprecated. Use the [Settings endpoint](index.jsp?urls.primaryName=Environment%20API%20v2#/Settings%20-%20Objects) with schemaId `builtin:problem.notifications`.",
    "name" : "Notifications"
  }, {
    "description" : "Deprecated. Use the [Settings endpoint](index.jsp?urls.primaryName=Environment%20API%20v2#/Settings%20-%20Objects) with schemaId `builtin:remote.environment`.",
    "name" : "Remote environments"
  }, {
    "description" : "AWS PrivateLink allowlisting",
    "name" : "AWS PrivateLink"
  }, {
    "description" : "Deprecated. Use the [Settings endpoint](index.jsp?urls.primaryName=Environment%20API%20v2#/Settings%20-%20Objects) with schemaId `builtin:alerting.profile`.",
    "name" : "Alerting Profiles"
  }, {
    "description" : "Manage conditional naming rules",
    "name" : "Conditional naming"
  }, {
    "description" : "Deprecated. Manage Credentials vault via the [Credential vault](index.jsp?urls.primaryName=/rest-api-doc/index.jsp?urls.primaryName=Environment%20API%20v2#/Credential%20-%20vault) endpoint  instead",
    "name" : "Credential vault"
  }, {
    "description" : "Manage failure detection parameter sets",
    "name" : "Service - Failure detection parameter sets"
  }, {
    "description" : "Manage failure detection rules",
    "name" : "Service - Failure detection rules"
  }, {
    "description" : "Manage Android mapping files and iOS symbol files for mobile applications",
    "name" : "RUM - Mobile Deobfuscation and Symbolication"
  } ],
  "paths" : {
    "/alertingProfiles" : {
      "get" : {
        "deprecated" : true,
        "operationId" : "getAlertingProfiles",
        "responses" : {
          "200" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StubList"
                }
              }
            },
            "description" : "Success"
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Lists all alerting profiles available in your environment",
        "tags" : [ "Alerting Profiles" ],
        "x-token-scopes" : [ "ReadConfig" ]
      },
      "post" : {
        "deprecated" : true,
        "description" : "The body must not provide an ID. An ID is assigned automatically by the Dynatrace server.",
        "operationId" : "createAlertingProfile",
        "requestBody" : {
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/AlertingProfile"
              }
            }
          },
          "description" : "The JSON body of the request. Contains parameters of the new alerting profile."
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EntityShortRepresentation"
                }
              }
            },
            "description" : "Success. The new alerting profile has been created. The response contains the ID of the new alerting profile."
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Creates a new alerting profile",
        "tags" : [ "Alerting Profiles" ],
        "x-token-scopes" : [ "WriteConfig" ]
      }
    },
    "/alertingProfiles/validator" : {
      "post" : {
        "deprecated" : true,
        "operationId" : "validateCreateAlertingProfile",
        "requestBody" : {
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/AlertingProfile"
              }
            }
          },
          "description" : "The JSON body of the request. Contains parameters of the alerting profile to be validated."
        },
        "responses" : {
          "204" : {
            "description" : "Validated. The submitted alerting profile is valid. Response doesn't have a body"
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Validates the payload the `POST /alertingProfiles` request",
        "tags" : [ "Alerting Profiles" ],
        "x-token-scopes" : [ "WriteConfig" ]
      }
    },
    "/alertingProfiles/{id}" : {
      "delete" : {
        "deprecated" : true,
        "description" : "The default alerting profile cannot be deleted.",
        "operationId" : "deleteAlertingProfile",
        "parameters" : [ {
          "description" : "The ID of the alerting profile to be deleted.",
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Success. The alerting profile has been deleted. Response doesn't have a body."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Deletes the specified alerting profile",
        "tags" : [ "Alerting Profiles" ],
        "x-token-scopes" : [ "WriteConfig" ]
      },
      "get" : {
        "deprecated" : true,
        "operationId" : "getAlertingProfile",
        "parameters" : [ {
          "description" : "The ID of the required alerting profile.",
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AlertingProfile"
                }
              }
            },
            "description" : "Success"
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Gets the properties of the specified alerting profile",
        "tags" : [ "Alerting Profiles" ],
        "x-token-scopes" : [ "ReadConfig" ]
      },
      "put" : {
        "deprecated" : true,
        "description" : "If an alerting profile with the specified ID doesn't exist, a new one is created.",
        "operationId" : "createOrUpdateAlertingProfile",
        "parameters" : [ {
          "description" : "The ID of the alerting profile to be updated.",
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/AlertingProfile"
              }
            }
          },
          "description" : "The JSON body of the request. Contains updated parameters of the alerting profile."
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EntityShortRepresentation"
                }
              }
            },
            "description" : "Success. The new alerting profile has been created. The response contains the ID of the new alerting profile."
          },
          "204" : {
            "description" : "Success. The alerting profile has been updated. Response doesn't have a body."
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Updates an existing alerting profile",
        "tags" : [ "Alerting Profiles" ],
        "x-token-scopes" : [ "WriteConfig" ]
      }
    },
    "/alertingProfiles/{id}/validator" : {
      "post" : {
        "deprecated" : true,
        "operationId" : "validateCreateOrUpdateAlertingProfile",
        "parameters" : [ {
          "description" : "The ID of the alerting profile to be validated.",
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/AlertingProfile"
              }
            }
          },
          "description" : "The JSON body of the request. Contains parameters of the alerting profile to be validated."
        },
        "responses" : {
          "204" : {
            "description" : "Validated. The submitted alerting profile is valid. Response doesn't have a body"
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Validates the payload the `PUT /alertingProfiles/{id}` request",
        "tags" : [ "Alerting Profiles" ],
        "x-token-scopes" : [ "WriteConfig" ]
      }
    },
    "/allowedBeaconOriginsForCors" : {
      "get" : {
        "operationId" : "getAllowedBeaconOriginsConfig",
        "responses" : {
          "200" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AllowedBeaconOrigins"
                }
              }
            },
            "description" : "Success"
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Gets the configuration of the allowed beacon origins for CORS requests",
        "tags" : [ "RUM - Allowed beacon origins for CORS" ],
        "x-token-scopes" : [ "ReadConfig" ]
      },
      "put" : {
        "description" : "The request overwrites the existing configuration. Any rules not presented in the payload will be lost.",
        "operationId" : "putAllowedBeaconOriginsConfig",
        "requestBody" : {
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/AllowedBeaconOrigins"
              }
            }
          },
          "description" : "The JSON body of the request. Contains the configuration of the allowed beacon origins for CORS requests."
        },
        "responses" : {
          "204" : {
            "description" : "Success. The configuration has been updated. Response doesn't have a body."
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Updates the configuration of the allowed beacon origins for CORS requests",
        "tags" : [ "RUM - Allowed beacon origins for CORS" ],
        "x-token-scopes" : [ "WriteConfig" ]
      }
    },
    "/allowedBeaconOriginsForCors/validator" : {
      "post" : {
        "operationId" : "validateAllowedBeaconOriginsConfig",
        "requestBody" : {
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/AllowedBeaconOrigins"
              }
            }
          },
          "description" : "The JSON body of the request. Contains the configuration of the allowed beacon origins for CORS requests."
        },
        "responses" : {
          "204" : {
            "description" : "Success. The submitted configuration is valid. Response doesn't have a body."
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Validates the payload for the `PUT /allowedBeaconOriginsForCors` request",
        "tags" : [ "RUM - Allowed beacon origins for CORS" ],
        "x-token-scopes" : [ "WriteConfig" ]
      }
    },
    "/anomalyDetection/applications" : {
      "get" : {
        "operationId" : "getApplicationAnomalyDetectionConfig",
        "responses" : {
          "200" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationAnomalyDetectionConfig"
                }
              }
            },
            "description" : "Success"
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Gets the configuration of anomaly detection for applications",
        "tags" : [ "Anomaly detection - Applications" ],
        "x-token-scopes" : [ "ReadConfig" ]
      },
      "put" : {
        "operationId" : "updateApplicationAnomalyDetectionConfig",
        "requestBody" : {
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApplicationAnomalyDetectionConfig"
              }
            }
          },
          "description" : "The JSON body of the request, containing parameters of the application anomaly detection configuration."
        },
        "responses" : {
          "204" : {
            "description" : "Success. Configuration has been updated. Response doesn't have a body."
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid"
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Updates the configuration of anomaly detection for applications",
        "tags" : [ "Anomaly detection - Applications" ],
        "x-token-scopes" : [ "WriteConfig" ]
      }
    },
    "/anomalyDetection/applications/validator" : {
      "post" : {
        "operationId" : "validateApplicationAnomalyDetectionConfig",
        "requestBody" : {
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApplicationAnomalyDetectionConfig"
              }
            }
          },
          "description" : "The JSON body of the request, containing parameters of the application anomaly detection configuration."
        },
        "responses" : {
          "204" : {
            "description" : "Validated. The submitted configuration is valid. Response does not have a body."
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid"
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Validates the configuration of anomaly detection for applications for the `PUT /anomalyDetection/applications` request",
        "tags" : [ "Anomaly detection - Applications" ],
        "x-token-scopes" : [ "WriteConfig" ]
      }
    },
    "/anomalyDetection/aws" : {
      "get" : {
        "operationId" : "getAwsAnomalyDetectionConfig",
        "responses" : {
          "200" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AwsAnomalyDetectionConfig"
                }
              }
            },
            "description" : "Success"
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Gets the configuration of anomaly detection for AWS",
        "tags" : [ "Anomaly detection - AWS" ],
        "x-token-scopes" : [ "ReadConfig" ]
      },
      "put" : {
        "operationId" : "updateAwsAnomalyDetectionConfig",
        "requestBody" : {
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/AwsAnomalyDetectionConfig"
              }
            }
          },
          "description" : "JSON body of the request, containing parameters of the AWS anomaly detection configuration."
        },
        "responses" : {
          "204" : {
            "description" : "Success. Configuration has been updated. Response doesn't have a body."
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Updates the configuration of anomaly detection for AWS",
        "tags" : [ "Anomaly detection - AWS" ],
        "x-token-scopes" : [ "WriteConfig" ]
      }
    },
    "/anomalyDetection/aws/validator" : {
      "post" : {
        "operationId" : "validateAwsAnomalyDetectionConfig",
        "requestBody" : {
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/AwsAnomalyDetectionConfig"
              }
            }
          },
          "description" : "JSON body of the request, containing parameters of the AWS anomaly detection configuration."
        },
        "responses" : {
          "204" : {
            "description" : "Validated. The submitted configuration is valid. Response doesn't have a body."
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Validates the configuration of anomaly detection for AWS for the `PUT /anomalyDetection/aws` request",
        "tags" : [ "Anomaly detection - AWS" ],
        "x-token-scopes" : [ "WriteConfig" ]
      }
    },
    "/anomalyDetection/databaseServices" : {
      "get" : {
        "operationId" : "getDatabaseServiceAnomalyDetectionConfig",
        "responses" : {
          "200" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DatabaseAnomalyDetectionConfig"
                }
              }
            },
            "description" : "Success"
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Gets the configuration of anomaly detection for database services",
        "tags" : [ "Anomaly detection - Database services" ],
        "x-token-scopes" : [ "ReadConfig" ]
      },
      "put" : {
        "operationId" : "updateDatabaseServiceAnomalyDetectionConfig",
        "requestBody" : {
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/DatabaseAnomalyDetectionConfig"
              }
            }
          },
          "description" : "The JSON body of the request. Contains parameters of the database service anomaly detection configuration."
        },
        "responses" : {
          "204" : {
            "description" : "Success. Configuration has been updated. Response doesn't have a body."
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid"
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Updates the configuration of anomaly detection for database services",
        "tags" : [ "Anomaly detection - Database services" ],
        "x-token-scopes" : [ "WriteConfig" ]
      }
    },
    "/anomalyDetection/databaseServices/validator" : {
      "post" : {
        "operationId" : "validateDatabaseServiceAnomalyDetectionConfig",
        "requestBody" : {
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/DatabaseAnomalyDetectionConfig"
              }
            }
          },
          "description" : "The JSON body of the request. Contains parameters of the database service anomaly detection configuration."
        },
        "responses" : {
          "204" : {
            "description" : "Validated. The submitted configuration is valid. Response doesn't have a body."
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid"
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Validates the payload for the `PUT /anomalyDetection/databaseServices` request",
        "tags" : [ "Anomaly detection - Database services" ],
        "x-token-scopes" : [ "WriteConfig" ]
      }
    },
    "/anomalyDetection/diskEvents" : {
      "get" : {
        "operationId" : "listDiskEventConfigs",
        "responses" : {
          "200" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StubList"
                }
              }
            },
            "description" : "Success"
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Lists all existing disk event rules | maturity=EARLY_ADOPTER",
        "tags" : [ "Anomaly detection - Disk events" ],
        "x-maturity" : "EARLY_ADOPTER",
        "x-token-scopes" : [ "ReadConfig" ]
      },
      "post" : {
        "description" : "The body must not provide an ID. An ID is assigned automatically by the Dynatrace server.",
        "operationId" : "createDiskEventConfig",
        "requestBody" : {
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/DiskEventAnomalyDetectionConfig"
              }
            }
          },
          "description" : "JSON body of the request. Contains parameters of the new disk event rule."
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EntityShortRepresentation"
                }
              }
            },
            "description" : "Success. The new disk event rule has been created. The ID of the new disk event rule is returned."
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid"
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Creates a new disk event rule | maturity=EARLY_ADOPTER",
        "tags" : [ "Anomaly detection - Disk events" ],
        "x-maturity" : "EARLY_ADOPTER",
        "x-token-scopes" : [ "WriteConfig" ]
      }
    },
    "/anomalyDetection/diskEvents/validator" : {
      "post" : {
        "operationId" : "validateCreateDiskEventConfig",
        "requestBody" : {
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/DiskEventAnomalyDetectionConfig"
              }
            }
          },
          "description" : "JSON body of the request. Contains the disk event rule to be validated."
        },
        "responses" : {
          "204" : {
            "description" : "Validated. The submitted disk event rule is valid. Response doesn't have a body."
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid"
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Validates the payload for the `POST /anomalyDetection/diskEvents` request | maturity=EARLY_ADOPTER",
        "tags" : [ "Anomaly detection - Disk events" ],
        "x-maturity" : "EARLY_ADOPTER",
        "x-token-scopes" : [ "WriteConfig" ]
      }
    },
    "/anomalyDetection/diskEvents/{id}" : {
      "delete" : {
        "operationId" : "deleteDiskEventConfig",
        "parameters" : [ {
          "description" : "The ID of the disk event rule to be deleted.",
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Success. The disk event rule has been deleted. Response doesn't have a body."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Deletes the specified disk event rule | maturity=EARLY_ADOPTER",
        "tags" : [ "Anomaly detection - Disk events" ],
        "x-maturity" : "EARLY_ADOPTER",
        "x-token-scopes" : [ "WriteConfig" ]
      },
      "get" : {
        "operationId" : "getDiskEventConfig",
        "parameters" : [ {
          "description" : "The ID of the required disk event rule.",
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DiskEventAnomalyDetectionConfig"
                }
              }
            },
            "description" : "Success"
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Gets the properties of the specified disk event rule | maturity=EARLY_ADOPTER",
        "tags" : [ "Anomaly detection - Disk events" ],
        "x-maturity" : "EARLY_ADOPTER",
        "x-token-scopes" : [ "ReadConfig" ]
      },
      "put" : {
        "description" : "If a disk event rule with the specified ID does not exist, a new rule is created.",
        "operationId" : "updateDiskEventConfig",
        "parameters" : [ {
          "description" : "The ID of the disk event rule to be updated.",
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/DiskEventAnomalyDetectionConfig"
              }
            }
          },
          "description" : "JSON body of the request. Contains updated disk event rule parameters."
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EntityShortRepresentation"
                }
              }
            },
            "description" : "Success. The new disk event rule has been created. The ID of the new disk event rule is returned."
          },
          "204" : {
            "description" : "Success. The disk event rule has been updated. Response doesn't have a body."
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid"
          },
          "403" : {
            "description" : "Failed. The specified ID is reserved for internal use."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Updates or creates a disk event rule | maturity=EARLY_ADOPTER",
        "tags" : [ "Anomaly detection - Disk events" ],
        "x-maturity" : "EARLY_ADOPTER",
        "x-token-scopes" : [ "WriteConfig" ]
      }
    },
    "/anomalyDetection/diskEvents/{id}/validator" : {
      "post" : {
        "operationId" : "validateUpdateDiskEventConfig",
        "parameters" : [ {
          "description" : "The ID of the disk event rule to be validated.",
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/DiskEventAnomalyDetectionConfig"
              }
            }
          },
          "description" : "JSON body of the request. Contains the disk event rule to be validated."
        },
        "responses" : {
          "204" : {
            "description" : "Validated. The submitted disk event rule is valid. Response doesn't have a body."
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid"
          },
          "403" : {
            "description" : "Failed. The specified ID is reserved for internal use."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Validates the payload for the `PUT /anomalyDetection/diskEvents/{id}` request | maturity=EARLY_ADOPTER",
        "tags" : [ "Anomaly detection - Disk events" ],
        "x-maturity" : "EARLY_ADOPTER",
        "x-token-scopes" : [ "WriteConfig" ]
      }
    },
    "/anomalyDetection/hosts" : {
      "get" : {
        "operationId" : "getHostEventsConfig",
        "responses" : {
          "200" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HostsAnomalyDetectionConfig"
                }
              }
            },
            "description" : "Success"
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Gets the configuration of anomaly detection for hosts",
        "tags" : [ "Anomaly detection - Hosts" ],
        "x-token-scopes" : [ "ReadConfig" ]
      },
      "put" : {
        "operationId" : "updateHostEventsConfig",
        "requestBody" : {
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/HostsAnomalyDetectionConfig"
              }
            }
          },
          "description" : "The JSON body of the request. Contains parameters of the host anomaly detection configuration."
        },
        "responses" : {
          "204" : {
            "description" : "Success. Configuration has been updated. Response doesn't have a body."
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid"
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Updates the configuration of anomaly detection for hosts",
        "tags" : [ "Anomaly detection - Hosts" ],
        "x-token-scopes" : [ "WriteConfig" ]
      }
    },
    "/anomalyDetection/hosts/validator" : {
      "post" : {
        "operationId" : "validateHostEventsConfig",
        "requestBody" : {
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/HostsAnomalyDetectionConfig"
              }
            }
          },
          "description" : "The JSON body of the request. Contains parameters of the host anomaly detection configuration."
        },
        "responses" : {
          "204" : {
            "description" : "Validated. The submitted configuration is valid. Response doesn't have a body."
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid"
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Validates the configuration of anomaly detection for hosts for the `PUT /anomalyDetection/hosts` request",
        "tags" : [ "Anomaly detection - Hosts" ],
        "x-token-scopes" : [ "WriteConfig" ]
      }
    },
    "/anomalyDetection/metricEvents" : {
      "get" : {
        "deprecated" : true,
        "operationId" : "listMetricEventConfigs",
        "parameters" : [ {
          "description" : "Flag to include metric events with associated entities to the response. \n\n Metric events with **entity** filters aren't compatible across environments. If set to `false`, metric events with entity filters will be removed.",
          "in" : "query",
          "name" : "includeEntityFilterMetricEvents",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StubList"
                }
              }
            },
            "description" : "Success"
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Lists all configured metric events",
        "tags" : [ "Anomaly detection - Metric events" ],
        "x-token-scopes" : [ "ReadConfig" ]
      },
      "post" : {
        "deprecated" : true,
        "description" : "The response contains the ID of the newly created metric event.",
        "operationId" : "createMetricEvent",
        "requestBody" : {
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/MetricEvent"
              }
            }
          },
          "description" : "The JSON body of the request. Contains parameters of the new metric event."
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EntityShortRepresentation"
                }
              }
            },
            "description" : "Success. The metric event has been created. The response contains the ID and name of the newly created metric event"
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Creates a new metric event",
        "tags" : [ "Anomaly detection - Metric events" ],
        "x-token-scopes" : [ "WriteConfig" ]
      }
    },
    "/anomalyDetection/metricEvents/validator" : {
      "post" : {
        "deprecated" : true,
        "operationId" : "validateCreateMetricEvent",
        "requestBody" : {
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/MetricEvent"
              }
            }
          },
          "description" : "The JSON body of the request. Contains the metric event configuration to validate."
        },
        "responses" : {
          "204" : {
            "description" : "Validated. The submitted configuration is valid. Response doesn't have a body."
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Validates the payload for the `POST /anomalyDetection/metricEvents` request",
        "tags" : [ "Anomaly detection - Metric events" ],
        "x-token-scopes" : [ "WriteConfig" ]
      }
    },
    "/anomalyDetection/metricEvents/{id}" : {
      "delete" : {
        "deprecated" : true,
        "description" : "You can't delete events created by plugins.",
        "operationId" : "deleteMetricEvent",
        "parameters" : [ {
          "description" : "The ID of the metric event to be deleted.",
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Deleted. Response doesn't have a body."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Deletes the specified metric event",
        "tags" : [ "Anomaly detection - Metric events" ],
        "x-token-scopes" : [ "WriteConfig" ]
      },
      "get" : {
        "deprecated" : true,
        "operationId" : "getMetricEventConfig",
        "parameters" : [ {
          "description" : "The ID of the required metric event.",
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MetricEvent"
                }
              }
            },
            "description" : "Success"
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Gets the properties of the specified metric event",
        "tags" : [ "Anomaly detection - Metric events" ],
        "x-token-scopes" : [ "ReadConfig" ]
      },
      "put" : {
        "deprecated" : true,
        "description" : "If the metric event with the specified ID does not exist, a new metric event will be created. \n\n You can't update the **type** of the metric event.",
        "operationId" : "updateMetricEvent",
        "parameters" : [ {
          "description" : "The ID of the metric event to be updated.\n\n If you also set the ID in the body, it must match this ID.",
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "maxLength" : 256,
            "minLength" : 0,
            "pattern" : "^[a-zA-Z0-9\\.\\-_:%]+$"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/MetricEvent"
              }
            }
          },
          "description" : "The JSON body of the request. Contains updated parameters of the metric event."
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EntityShortRepresentation"
                }
              }
            },
            "description" : "Success. The new metric event has been created. The response contains the ID of the newly created metric event"
          },
          "204" : {
            "description" : "Success. The metric event has been updated. The response is empty."
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Updates an existing metric event or creates a new one",
        "tags" : [ "Anomaly detection - Metric events" ],
        "x-token-scopes" : [ "WriteConfig" ]
      }
    },
    "/anomalyDetection/metricEvents/{id}/validator" : {
      "post" : {
        "deprecated" : true,
        "operationId" : "validateUpdateMetricEvent",
        "parameters" : [ {
          "description" : "The ID of the metric event to be validated.",
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "maxLength" : 256,
            "minLength" : 0,
            "pattern" : "^[a-zA-Z0-9\\.\\-_:%]+$"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/MetricEvent"
              }
            }
          },
          "description" : "The JSON body of the request. Contains the metric event configuration to validate."
        },
        "responses" : {
          "204" : {
            "description" : "Validated. The submitted configuration is valid. Response doesn't have a body."
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Validates the payload for the `PUT /anomalyDetection/metricEvents/{id}` request",
        "tags" : [ "Anomaly detection - Metric events" ],
        "x-token-scopes" : [ "WriteConfig" ]
      }
    },
    "/anomalyDetection/processGroups/{id}" : {
      "delete" : {
        "operationId" : "deleteLocalAvailabilityConfig",
        "parameters" : [ {
          "description" : "The Dynatrace entity ID of the required process group.",
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Success. The configuration has been updated. Response doesn't have a body."
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid."
          },
          "404" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Process group doesn't exist"
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Switches off anomaly detection for the specified process group | maturity=EARLY_ADOPTER",
        "tags" : [ "Anomaly detection - Process groups" ],
        "x-maturity" : "EARLY_ADOPTER",
        "x-token-scopes" : [ "WriteConfig" ]
      },
      "get" : {
        "operationId" : "getLocalAvailabilityConfig",
        "parameters" : [ {
          "description" : "The Dynatrace entity ID of the required process group.",
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AnomalyDetectionPG"
                }
              }
            },
            "description" : "Success"
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid."
          },
          "404" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Process group doesn't exist"
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Gets the configuration of anomaly detection for the specified process group | maturity=EARLY_ADOPTER",
        "tags" : [ "Anomaly detection - Process groups" ],
        "x-maturity" : "EARLY_ADOPTER",
        "x-token-scopes" : [ "ReadConfig" ]
      },
      "put" : {
        "operationId" : "setLocalAvailabilityConfig",
        "parameters" : [ {
          "description" : "The Dynatrace entity ID of the required process group.",
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/AnomalyDetectionPG"
              }
            }
          },
          "description" : "The JSON body of the request. Contains parameters of anomaly detection for a process group."
        },
        "responses" : {
          "204" : {
            "description" : "Success. The configuration has been updated. Response doesn't have a body."
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Updates the configuration of anomaly detection for the specified process group | maturity=EARLY_ADOPTER",
        "tags" : [ "Anomaly detection - Process groups" ],
        "x-maturity" : "EARLY_ADOPTER",
        "x-token-scopes" : [ "WriteConfig" ]
      }
    },
    "/anomalyDetection/processGroups/{id}/validator" : {
      "post" : {
        "operationId" : "validateLocalPgAvailabilityAlertingEvent",
        "parameters" : [ {
          "description" : "The Dynatrace entity ID of the required process group.",
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/AnomalyDetectionPG"
              }
            }
          },
          "description" : "The JSON body of the request. Contains anomaly detection configuration to be validated."
        },
        "responses" : {
          "204" : {
            "description" : "Validated. The submitted configuration is valid. Response doesn't have a body."
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Validates the payload for the `PUT /anomalyDetection/processGroups/{id}` request | maturity=EARLY_ADOPTER",
        "tags" : [ "Anomaly detection - Process groups" ],
        "x-maturity" : "EARLY_ADOPTER",
        "x-token-scopes" : [ "WriteConfig" ]
      }
    },
    "/anomalyDetection/services" : {
      "get" : {
        "operationId" : "getServiceAnomalyDetectionConfig",
        "responses" : {
          "200" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServiceAnomalyDetectionConfig"
                }
              }
            },
            "description" : "Success"
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Gets the service anomaly detection configuration",
        "tags" : [ "Anomaly detection - Services" ],
        "x-token-scopes" : [ "ReadConfig" ]
      },
      "put" : {
        "operationId" : "updateServiceAnomalyDetectionConfig",
        "requestBody" : {
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/ServiceAnomalyDetectionConfig"
              }
            }
          },
          "description" : "The JSON body of the request. Contains parameters of the service anomaly detection configuration."
        },
        "responses" : {
          "204" : {
            "description" : "Success. Configuration has been updated. Response doesn't have a body."
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid"
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Updates the service anomaly detection configuration",
        "tags" : [ "Anomaly detection - Services" ],
        "x-token-scopes" : [ "WriteConfig" ]
      }
    },
    "/anomalyDetection/services/validator" : {
      "post" : {
        "operationId" : "validateServiceAnomalyDetectionConfig",
        "requestBody" : {
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/ServiceAnomalyDetectionConfig"
              }
            }
          },
          "description" : "The JSON body of the request. Contains parameters of the service anomaly detection configuration."
        },
        "responses" : {
          "204" : {
            "description" : "Validated. The submitted configuration is valid. Response doesn't have a body."
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid"
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Validates the payload for the `PUT /anomalyDetection/services` request",
        "tags" : [ "Anomaly detection - Services" ],
        "x-token-scopes" : [ "WriteConfig" ]
      }
    },
    "/anomalyDetection/vmware" : {
      "get" : {
        "operationId" : "getVMwareAnomalyDetectionConfig",
        "responses" : {
          "200" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VMwareAnomalyDetectionConfig"
                }
              }
            },
            "description" : "Success"
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Gets the configuration of anomaly detection for VMware",
        "tags" : [ "Anomaly detection - VMware" ],
        "x-token-scopes" : [ "ReadConfig" ]
      },
      "put" : {
        "operationId" : "updateVMwareAnomalyDetectionConfig",
        "requestBody" : {
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/VMwareAnomalyDetectionConfig"
              }
            }
          },
          "description" : "JSON body of the request, containing parameters of the VMware anomaly detection configuration."
        },
        "responses" : {
          "204" : {
            "description" : "Success. Configuration has been updated. Response doesn't have a body."
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Updates the configuration of anomaly detection for VMware",
        "tags" : [ "Anomaly detection - VMware" ],
        "x-token-scopes" : [ "WriteConfig" ]
      }
    },
    "/anomalyDetection/vmware/validator" : {
      "post" : {
        "operationId" : "validateVMwareAnomalyDetectionConfig",
        "requestBody" : {
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/VMwareAnomalyDetectionConfig"
              }
            }
          },
          "description" : "JSON body of the request, containing parameters of the VMware anomaly detection configuration."
        },
        "responses" : {
          "204" : {
            "description" : "Validated. The submitted configuration is valid. Response doesn't have a body."
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Validates the configuration of anomaly detection for VMware for the `PUT /anomalyDetection/vmware` request",
        "tags" : [ "Anomaly detection - VMware" ],
        "x-token-scopes" : [ "WriteConfig" ]
      }
    },
    "/applicationDetectionRules" : {
      "get" : {
        "operationId" : "listApplicationDetectionConfigs",
        "responses" : {
          "200" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StubList"
                }
              }
            },
            "description" : "Success"
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Lists all available application detection rules",
        "tags" : [ "RUM - Application detection rules" ],
        "x-token-scopes" : [ "ReadConfig" ]
      },
      "post" : {
        "description" : "The body must not provide an ID. An ID is assigned automatically by the Dynatrace server. \n\nYou can only create detection rules for an existing application. If you need to create a rule for an application that doesn't exist yet, [create an application first](https://dt-url.net/vt03khh) and then configure detection rules for it.",
        "operationId" : "createApplicationDetectionConfig",
        "parameters" : [ {
          "description" : "The position of the new rule: \n\n * `APPEND`: at the bottom of the rule list. \n * `PREPEND`: at the top of the rule list. \n\n If not set, the `APPEND` is used.",
          "in" : "query",
          "name" : "position",
          "schema" : {
            "type" : "string",
            "enum" : [ "APPEND", "PREPEND" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApplicationDetectionRuleConfig"
              }
            }
          },
          "description" : "The JSON body of the request. Contains configuration of the new application detection rule. \n\n You must not specify the ID of the rule. \n\nThe **order** field is ignored in this request. To enforce a particular order use the `PUT /applicationDetectionRules/order` request."
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EntityShortRepresentation"
                }
              }
            },
            "description" : "Success. The application detection rule has been created. Response contains the ID of the new rule."
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Creates a new application detection rule",
        "tags" : [ "RUM - Application detection rules" ],
        "x-token-scopes" : [ "WriteConfig" ]
      }
    },
    "/applicationDetectionRules/hostDetection" : {
      "get" : {
        "operationId" : "getHostDetectionConfig",
        "responses" : {
          "200" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationDetectionRulesHostDetectionSettings"
                }
              }
            },
            "description" : "Success"
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Gets the configuration of host detection headers",
        "tags" : [ "RUM - Application detection rules - Host detection" ],
        "x-token-scopes" : [ "ReadConfig" ]
      },
      "put" : {
        "description" : "The request overwrites the existing configuration. Any headers not presented in the payload will be lost.",
        "operationId" : "updateHostDetectionConfig",
        "requestBody" : {
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApplicationDetectionRulesHostDetectionSettings"
              }
            }
          },
          "description" : "The JSON body of the request. Contains the configuration of host detection headers."
        },
        "responses" : {
          "204" : {
            "description" : "Success. The configuration has been updated. Response doesn't have a body."
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Updates the configuration of host detection headers",
        "tags" : [ "RUM - Application detection rules - Host detection" ],
        "x-token-scopes" : [ "WriteConfig" ]
      }
    },
    "/applicationDetectionRules/hostDetection/validator" : {
      "post" : {
        "operationId" : "validateHostDetectionConfig",
        "requestBody" : {
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApplicationDetectionRulesHostDetectionSettings"
              }
            }
          },
          "description" : "The JSON body of the request. Contains the configuration of host detection headers to be validated."
        },
        "responses" : {
          "204" : {
            "description" : "Success. The submitted configuration is valid. Response doesn't have a body."
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Validate the payload for `PUT /applicationDetection/hostDetection` request.",
        "tags" : [ "RUM - Application detection rules - Host detection" ],
        "x-token-scopes" : [ "WriteConfig" ]
      }
    },
    "/applicationDetectionRules/order" : {
      "put" : {
        "description" : "This request reorders the application detection rules according to the submitted list of IDs. Application detection rules not present in the body of the request will retain their relative ordering but are placed *after* all those present in the request.",
        "operationId" : "orderApplicationDetectionConfigs",
        "requestBody" : {
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/StubList"
              }
            }
          },
          "description" : "The JSON body of the request. Contains the IDs of the application detection rules in the desired order. Any further properties (**name**, **description**) are ignored."
        },
        "responses" : {
          "204" : {
            "description" : "Success. Application detection rules have been reordered. Response doesn't have a body."
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Reorders the application detection rules",
        "tags" : [ "RUM - Application detection rules" ],
        "x-token-scopes" : [ "WriteConfig" ]
      }
    },
    "/applicationDetectionRules/validator" : {
      "post" : {
        "operationId" : "validateCreateApplicationDetectionConfig",
        "requestBody" : {
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApplicationDetectionRuleConfig"
              }
            }
          },
          "description" : "The JSON body of the request. Contains the application detection rule to be validated."
        },
        "responses" : {
          "204" : {
            "description" : "Validated. The submitted configuration is valid. Response doesn't have a body."
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Validates the payload for the `POST /applicationDetection` request",
        "tags" : [ "RUM - Application detection rules" ],
        "x-token-scopes" : [ "WriteConfig" ]
      }
    },
    "/applicationDetectionRules/{id}" : {
      "delete" : {
        "operationId" : "deleteApplicationDetectionConfig",
        "parameters" : [ {
          "description" : "The ID of the application detection rule to be deleted.",
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Deleted. Response doesn't have a body."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Deletes the specified application detection rule",
        "tags" : [ "RUM - Application detection rules" ],
        "x-token-scopes" : [ "WriteConfig" ]
      },
      "get" : {
        "operationId" : "getApplicationDetectionConfig",
        "parameters" : [ {
          "description" : "The ID of the required application detection rule.",
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationDetectionRuleConfig"
                }
              }
            },
            "description" : "Success"
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Gets the parameters of the specified application detection rule",
        "tags" : [ "RUM - Application detection rules" ],
        "x-token-scopes" : [ "ReadConfig" ]
      },
      "put" : {
        "description" : "If the application detection rule with the specified ID doesn't exist, a new application is created and appended to the end of the rule list. \n\nIf the **order** parameter is set for an existing rule, the request uses this value. Otherwise it keeps the existing order of rules.",
        "operationId" : "updateApplicationDetectionConfig",
        "parameters" : [ {
          "description" : "The ID of the application detection rule to be updated. \n\n If you set the ID in the body as well, it must match this ID.",
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApplicationDetectionRuleConfig"
              }
            }
          },
          "description" : "The JSON body of the request. Contains updated parameters of the application detection rule. \n\n If the **order** parameter is set, the rule is placed to this position."
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EntityShortRepresentation"
                }
              }
            },
            "description" : "Success. Application detection rule has been created. Response contains the ID of the new rule."
          },
          "204" : {
            "description" : "Success. Application detection rule has been updated. Response doesn't have a body."
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Updates the specified application detection rule",
        "tags" : [ "RUM - Application detection rules" ],
        "x-token-scopes" : [ "WriteConfig" ]
      }
    },
    "/applicationDetectionRules/{id}/validator" : {
      "post" : {
        "operationId" : "validateUpdateApplicationDetectionConfig",
        "parameters" : [ {
          "description" : "The ID of the application detection rule to be validated. \n\n If you set the ID in the body as well, it must match this ID.",
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApplicationDetectionRuleConfig"
              }
            }
          },
          "description" : "The JSON body of the request. Contains the application detection rule to be validated."
        },
        "responses" : {
          "204" : {
            "description" : "Validated. The submitted configuration is valid. Response doesn't have a body."
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Validate the payload for the `PUT /applicationDetection/{id}` request",
        "tags" : [ "RUM - Application detection rules" ],
        "x-token-scopes" : [ "WriteConfig" ]
      }
    },
    "/applications/mobile" : {
      "get" : {
        "operationId" : "listMobileApplicationConfigs",
        "responses" : {
          "200" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StubList"
                }
              }
            },
            "description" : "Success"
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Lists all existing mobile and custom applications",
        "tags" : [ "RUM - Mobile and custom application configuration" ],
        "x-token-scopes" : [ "ReadConfig" ]
      },
      "post" : {
        "description" : "The body must not provide an identifier. An identifier is assigned automatically by Dynatrace. \n\nYou can, however, provide your own applicationId. If you don't specify an applicationId, it is assigned automatically by Dynatrace.",
        "operationId" : "createMobileApplicationConfig",
        "requestBody" : {
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/NewMobileCustomAppConfig"
              }
            }
          },
          "description" : "The JSON body of the request. Contains the parameters of the new mobile or custom application."
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EntityShortRepresentation"
                }
              }
            },
            "description" : "Success. The application has been created. The response contains the identifier and name of the new application."
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid."
          },
          "409" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The applicationId is already used by another application."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Creates a new mobile or custom application",
        "tags" : [ "RUM - Mobile and custom application configuration" ],
        "x-token-scopes" : [ "WriteConfig" ]
      }
    },
    "/applications/mobile/validator" : {
      "post" : {
        "operationId" : "validateCreateMobileApplicationConfig",
        "requestBody" : {
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/NewMobileCustomAppConfig"
              }
            }
          },
          "description" : "The JSON body of the request. Contains the mobile or custom application configuration to be validated."
        },
        "responses" : {
          "204" : {
            "description" : "Success. The submitted configuration is valid. Response doesn't have a body."
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Validates the payload for the `POST /applications/mobile` request",
        "tags" : [ "RUM - Mobile and custom application configuration" ],
        "x-token-scopes" : [ "WriteConfig" ]
      }
    },
    "/applications/mobile/{applicationId}/keyUserActions" : {
      "get" : {
        "operationId" : "listMobileKeyUserActions",
        "parameters" : [ {
          "description" : "The ID of the required application.",
          "in" : "path",
          "name" : "applicationId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KeyUserActionMobileList"
                }
              }
            },
            "description" : "Success"
          },
          "404" : {
            "description" : "Failed. The specified entity doesn't exist."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Gets the list of key user actions in the specified application",
        "tags" : [ "RUM - Mobile and custom application configuration" ],
        "x-token-scopes" : [ "ReadConfig" ]
      }
    },
    "/applications/mobile/{applicationId}/keyUserActions/{actionName}" : {
      "delete" : {
        "operationId" : "deleteMobileKeyUserAction",
        "parameters" : [ {
          "description" : "The ID of the required application.",
          "in" : "path",
          "name" : "applicationId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The ID of the user action to be removed from the key user actions list.",
          "in" : "path",
          "name" : "actionName",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Success. The user action has been removed from the list of key user actions. The response doesn't have a body."
          },
          "404" : {
            "description" : "Failed. The specified entity doesn't exist."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Removes the specified user action from the list of key user actions in the specified application",
        "tags" : [ "RUM - Mobile and custom application configuration" ],
        "x-token-scopes" : [ "WriteConfig" ]
      },
      "post" : {
        "operationId" : "createMobileKeyUserAction",
        "parameters" : [ {
          "description" : "The ID of the required application.",
          "in" : "path",
          "name" : "applicationId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The name of the user action to be marked as a key user action.",
          "in" : "path",
          "name" : "actionName",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KeyUserActionMobile"
                }
              }
            },
            "description" : "Success. The action has been marked as a key user action. The response contains its name."
          },
          "404" : {
            "description" : "Failed. The specified entity doesn't exist."
          },
          "409" : {
            "description" : "Failed. The max number of key user actions has been reached for the application."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Marks the user action as a key user action in the specified application",
        "tags" : [ "RUM - Mobile and custom application configuration" ],
        "x-token-scopes" : [ "WriteConfig" ]
      }
    },
    "/applications/mobile/{applicationId}/userActionAndSessionProperties" : {
      "get" : {
        "operationId" : "listSessionProperties",
        "parameters" : [ {
          "description" : "The ID of the required application.",
          "in" : "path",
          "name" : "applicationId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MobileSessionUserActionPropertyList"
                }
              }
            },
            "description" : "Success"
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Lists all mobile session and user action properties for the specified application",
        "tags" : [ "RUM - Mobile and custom application configuration" ],
        "x-token-scopes" : [ "ReadConfig" ]
      },
      "post" : {
        "operationId" : "createSessionProperty",
        "parameters" : [ {
          "description" : "The ID of the required application.",
          "in" : "path",
          "name" : "applicationId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/MobileSessionUserActionProperty"
              }
            }
          },
          "description" : "The JSON body of the request. Contains the configuration of the property."
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MobileSessionUserActionPropertyShort"
                }
              }
            },
            "description" : "Success. The property has been created. The response contains the ID of the new property."
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Creates a new mobile session or user action property for the specified application",
        "tags" : [ "RUM - Mobile and custom application configuration" ],
        "x-token-scopes" : [ "WriteConfig" ]
      }
    },
    "/applications/mobile/{applicationId}/userActionAndSessionProperties/validator" : {
      "post" : {
        "operationId" : "validateCreateSessionProperty",
        "parameters" : [ {
          "description" : "The ID of the required application.",
          "in" : "path",
          "name" : "applicationId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/MobileSessionUserActionProperty"
              }
            }
          },
          "description" : "The JSON body of the request. Contains the configuration of the property to be validated."
        },
        "responses" : {
          "204" : {
            "description" : "Success. The submitted configuration is valid. Response doesn't have a body."
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Validates the payload for the `POST /applications/mobile/{applicationId}/userActionAndSessionProperties` request",
        "tags" : [ "RUM - Mobile and custom application configuration" ],
        "x-token-scopes" : [ "WriteConfig" ]
      }
    },
    "/applications/mobile/{applicationId}/userActionAndSessionProperties/{key}" : {
      "delete" : {
        "operationId" : "deleteSessionProperty",
        "parameters" : [ {
          "description" : "The ID of the required application.",
          "in" : "path",
          "name" : "applicationId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The key of the required mobile session or user action property.",
          "in" : "path",
          "name" : "key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Success. The property has been deleted. The response doesn't have a body."
          },
          "404" : {
            "description" : "Failed. The specified entity doesn't exist."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Deletes the specified mobile session or user action property for an application",
        "tags" : [ "RUM - Mobile and custom application configuration" ],
        "x-token-scopes" : [ "WriteConfig" ]
      },
      "get" : {
        "operationId" : "getSessionProperty",
        "parameters" : [ {
          "description" : "The ID of the required application.",
          "in" : "path",
          "name" : "applicationId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The key of the required mobile session or user action property.",
          "in" : "path",
          "name" : "key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MobileSessionUserActionProperty"
                }
              }
            },
            "description" : "Success"
          },
          "404" : {
            "description" : "Failed. The specified entity doesn't exist."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Gets the specified mobile session or user action property of an application",
        "tags" : [ "RUM - Mobile and custom application configuration" ],
        "x-token-scopes" : [ "ReadConfig" ]
      },
      "put" : {
        "description" : "If the property with the specified ID does not exist, a new property is created.",
        "operationId" : "updateSessionProperty",
        "parameters" : [ {
          "description" : "The ID of the required application.",
          "in" : "path",
          "name" : "applicationId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The key of the required mobile session or user action property.",
          "in" : "path",
          "name" : "key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/MobileSessionUserActionPropertyUpd"
              }
            }
          },
          "description" : "The JSON body of the request. Contains the configuration of the property."
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MobileSessionUserActionPropertyShort"
                }
              }
            },
            "description" : "Success. The property has been created. The response contains the ID of the new property."
          },
          "204" : {
            "description" : "Success. The property has been updated. The response doesn't have a body."
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Updates the specified mobile session or user action property for an application",
        "tags" : [ "RUM - Mobile and custom application configuration" ],
        "x-token-scopes" : [ "WriteConfig" ]
      }
    },
    "/applications/mobile/{applicationId}/userActionAndSessionProperties/{key}/validator" : {
      "post" : {
        "operationId" : "validateUpdateSessionProperty",
        "parameters" : [ {
          "description" : "The ID of the required application.",
          "in" : "path",
          "name" : "applicationId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "The key of the required mobile session or user action property.",
          "in" : "path",
          "name" : "key",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/MobileSessionUserActionPropertyUpd"
              }
            }
          },
          "description" : "The JSON body of the request. Contains the configuration of the property to be validated."
        },
        "responses" : {
          "204" : {
            "description" : "Success. The submitted configuration is valid. Response doesn't have a body."
          },
          "400" : {
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description" : "Failed. The input is invalid."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Validates the payload for the `PUT /applications/mobile/{applicationId}/userActionAndSessionProperties/{key}` request",
        "tags" : [ "RUM - Mobile and custom application configuration" ],
        "x-token-scopes" : [ "WriteConfig" ]
      }
    },
    "/applications/mobile/{id}" : {
      "delete" : {
        "operationId" : "deleteMobileApplicationConfig",
        "parameters" : [ {
          "description" : "The ID of the application to be deleted.",
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Success. The application has been deleted. The response doesn't have a body."
          },
          "404" : {
            "description" : "Failed. The specified entity doesn't exist."
          }
        },
        "security" : [ {
          "Api-Token" : [ ]
        } ],
        "summary" : "Deletes the specified mobile or custom application",
        "tags" : [ "RUM - Mobile and custom application configuration" ],
        "x-token-scopes" : [ "WriteConfig" ]
      },
      "get" : {
[...]
