* {
    font-family:sans-serif;
}

.backButton {
    margin-top: 1em;
    margin-left: 8px;
    text-decoration: none;
    padding: 8px;
    background-color: #A4B8C4;
    color: #FCFAFA;
    border-radius: 4px;
    position: inherit;
}

.backButton:hover {
    background-color: #6E8387;
}

body {
    padding: 12px;
    max-width: 1200px;
}

.field{
    padding: 0px 12px 12px;
    border: 1.5px dashed #6E8387;
    border-radius: 9px;
    width: fit-content;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.fieldHeader {
    color: #6E8387;
    background-color: white;
    padding-left: 4px;
    padding-right: 4px;
    width: fit-content;
    font-size: 12px;

    -moz-transform: translate(-1px, -8px);
    -webkit-transform: translate(-1px, -8px);
    -o-transform: translate(-1px, -8px);
    -ms-transform: translate(-1px, -8px);
    transform: translate(-1px, -8px);
}

.explanation p{
    margin-left: 8px;
}

code {
    background-color: #F0F3F3;
    color: red;
    border: 1px solid #C8D3D5;
    padding-right: 4px;
    padding-left: 4px;
    border-radius: 2px;
    font-family: monospace;
}

.api-reference {
    background-color: #F0F3F3;
    color: red;
    border: 1px solid #5E6572;
    padding-right: 4px;
    padding-left: 4px;
    border-radius: 2px;
    font-family: monospace;
    text-decoration: none;
}

.api-reference:hover {
    background-color: #DBDDDD;
    cursor: pointer;
}

code-block {
    background-color: #F0F3F3;
    color: black;
    width: fit-content;
    border: 1px solid #C8D3D5;
    padding: 8px;
    border-radius: 2px;
    font-family: monospace;
    display: block;
    white-space: pre-wrap;
}
.explanation code-block{
    margin-left: 16px;
}

.agentConf {
    font-weight: bold;
    background-color: #F0F3F3;
    border: 1px solid #C8D3D5;
    padding-right: 4px;
    padding-left: 4px;
    border-radius: 2px;
    width: fit-content;
}

.agentConfOk {
    display: inline;
    color: green;
    font-weight: normal;
}

.agentConfError {
    display: inline;
    color: red;
    font-weight: normal;
}

.agentConfErrorExample {
    display: none;
}
